[2022-03-06 01:23] TryH8rd opened #654 "Enhancement: Adding the ability to change your mobile number."
### Application

Settings

### Dependency

No

### Feature Description

Hi, it would be great if you could make a config maybe. Where you can change your mobile number from the United States one to Swedish etc.

### References

_No response_

[2022-03-06 03:47] Slypher opened #655 "Bug: Photo could not be saved"
### Development Issue

No

### Phone Version

Pre-Release Build (dca889b2) | 03/01/22 | [unstable](https://github.com/project-error/npwd/releases/tag/unstable)

### Issue Description

When saving the photo I took, the phone displays the error: "The photo could not be saved :(". I followed all the steps described in the documentation. I don't get any errors on the client/server.

Screenshot Basic V

[2022-03-06 18:11] #647 closed

[2022-03-07 22:54] itschip commented on #655
I assume the server just logs 'data' as `null`?

[2022-03-07 23:05] #646 closed

[2022-03-07 23:47] Slypher commented on #655
Yes, I get null value

[2022-03-08 23:19] #621 closed

[2022-03-10 03:49] Madkiller105 opened #657 "Mail and Garage App"
### Application

Other

### Dependency

Yes

### Feature Description

For QBCore
Mail stored with SQL (Delete Option Too)
Garage App with all info about cars

### References

_No response_

[2022-03-10 08:08] itschip commented on #657
Note 'standalone'. This is something you'll have to create and integrate yourself.

[2022-03-10 23:34] PhantomPeppers commented on #655
find anything? im having same problem but from US

[2022-03-10 23:43] Slypher commented on #655
I still haven't found the problem :/

[2022-03-11 06:32] itschip commented on #655
@Slypher @PhantomPeppers did you change anything in your config.json?

[2022-03-11 08:27] Slypher commented on #655
I didn't change anything in config.json, the only changes made on the phone were the sets in the server.cfg

[2022-03-11 08:29] Slypher commented on #655
Here's the fork I'm using [phone](https://github.com/poderparalelo/npwd/tree/main)

[2022-03-11 09:37] itschip commented on #655
@Slypher you could try and print the response from imgur. Might be some useful information there. I'd say that's the best thing to check first.

[2022-03-11 11:04] itschip commented on #657
That being said, a mail app might happen.

[2022-03-11 11:37] itschip commented on #653
Closing this for now.

[2022-03-11 11:37] #653 closed

[2022-03-12 23:25] LostJ3ster opened #659 "Enhancement: Ability to choose between pma-voice and Saltychat"
### Application

Other

### Dependency

Yes

### Feature Description

We, as well as many other servers, use SaltyChat for all of our ingame voice.

For this phone we tested pma-voice.

We got the phone to work and except for some features we'd love to continue using it.
Problem now is, we also would love to continue using Saltychat. Therefor we'd like to choose between pma-voice and Saltychat in

[2022-03-12 23:27] Mojito-Fivem commented on #659
We won't be adding support for voice solutions which use weird third party teamspeak programs

[2022-03-13 05:02] Slypher commented on #655
When trying to upload the photo to imgur, I get the following warning:
![image](https://user-images.githubusercontent.com/39607799/158045829-cc92e968-c592-4e61-9de1-4fb36e4f84e7.png)

[2022-03-13 05:17] itschip commented on #655
I'll investigate with a VPN. Thanks.

[2022-03-14 00:35] #659 closed

[2022-03-14 00:35] #645 closed

[2022-03-14 00:35] itschip commented on #637
Will be fixed once develop is merged.

[2022-03-14 00:35] #637 closed

[2022-03-14 00:35] itschip commented on #600
Fixed in develop.

[2022-03-14 00:35] #600 closed

[2022-03-14 00:36] itschip commented on #632
@antonstjernquist should we close this issue, or what's up?

[2022-03-14 00:48] alexwilliamlex commented on #637
thank's

[2022-03-14 12:28] Nuziatella opened #660 "Bug: Console spam"
### Development Issue

Yes

### Phone Version

1.1.8

### Issue Description

Spamming console with this message when phone is closed:
[code]

And this when open and while open goes back to spamming the above message:

[code]

### Issue Reproduction

1. Download latest release 1.1.8
2. Extract and follow directions pertaining to installation and adding relevant mysql entries.
3. Get integration res

[2022-03-14 14:23] tr1ckz opened #661 "Bug: Unable to getIdentifier and phone number"
### Development Issue

No

### Phone Version

v1.1.8

### Issue Description

First off, I'm using ox legacy es_extended that has the esx-nwpd built in, using steam identifier (changed in es_extended already and all the other scripts work) and esx_multicharacter that makes all identifiers char1,char2,etc.

My config:
![image](https://user-images.githubusercontent.com/48994713/158191436-b9adb962-759

[2022-03-15 23:10] YisusOnDev opened #662 "Bug: No notification of new messages on first login"
### Development Issue

Unsure

### Phone Version

v1.1.8

### Issue Description

If you receive a message when you're online you receive the notifications but if you're offline and someone message you, no notifications or alert of new messages is shown

### Issue Reproduction

1. Tell a second player to message you when you're not online
2. Connect to the server
3. No alert/notification of new mes

[2022-03-15 23:12] YisusOnDev opened #663 "Bug: No missed call history"
### Development Issue

Unsure

### Phone Version

v1.1.8

### Issue Description

If someone calls you and you miss that call, you can't see the missed call in the phone's call history.

### Issue Reproduction

1. Tell someone to call you and don't answer
2. Tell that someone to end the call
3. Go to call history
4. You don't see the missed call.

### Evidence

_No response_

[2022-03-16 13:37] YisusOnDev opened #664 "Bug: Match Profile Error (Same player names)"
### Development Issue

Yes

### Phone Version

v1.1.8

### Issue Description

If 2 or more players has the same name you get a console print showing an error because npwd_match_profiles has a unique key on "name" row

[code]

### Issue Reproduction

Register 2 players using npwd newPlayer export with the same firstname and lastname.

### Evidence

![image](https://user-images.githubusercontent.com

[2022-03-18 02:20] Destructor commented on #476
ETA?

[2022-03-18 21:55] BigBrainBernie commented on #655
In your cfg - do not change authorizationPrefix Client-ID to your id - works for me

  "images": {
    "url": "https://api.imgur.com/3/image",
    "type": "imgur",
    "imageEncoding": "jpg",
    "contentType": "multipart/form-data",
    "authorizationPrefix": "Client-ID",
    "useAuthorization": true,
    "returnedDataIndexes": ["data", "link"]
  },

[2022-03-19 14:56] YisusOnDev commented on #663
Update: After last update (v1.2.2) This error still occurs.

[2022-03-19 14:59] YisusOnDev commented on #662
Seems fixed on latest update (v1.2.2)

[2022-03-19 14:59] #662 closed

[2022-03-19 15:51] WilderMO opened #669 "Bug: Number does not save"
### Development Issue

No

### Phone Version

[1.2.1](https://github.com/project-error/npwd/releases/tag/1.2.1)

### Issue Description

The Phone works except that the created number is not saved in the SQL database.
Every time I join my server I get another number and it will not save.

### Issue Reproduction

1. Join the server
2. See problem

### Evidence

![image](https://user-images.githubuse

[2022-03-19 16:02] YisusOnDev opened #670 "Bug: Canceled call stuck on notification bar"
### Development Issue

Unsure

### Phone Version

v1.2.3

### Issue Description

When you miss a call (with phone opened) the call notification got stuck "as available" on notification bar.

This bug only occurs if you miss the call with the phone opened.

### Issue Reproduction

1.- Open the phone (And keep it open)
2.- Tell someone to call u and cancel the call (you (1) keep the phone opened)
3.

[2022-03-19 16:06] YisusOnDev commented on #669
The issue seems to be yours, for me all is working well.

You need to update your database with the generated number, i think npwd does not handle that for you, npwd only reads the number from the table you specify in the config.

[2022-03-19 22:58] WilderMO commented on #669
@YisusOnDev But npwd generates a phone number. So why would it not save it?
thats my problem.
Do you have anything that saves the number for the npwd?

[2022-03-20 10:18] YisusOnDev opened #672 "Bug: New messages with phone opened make it crash"
### Development Issue

Yes

### Phone Version

v1.2.3

### Issue Description

When you have an old conversation with someone and that someone message you when you have the phone opened the phone get bugged and "crash" (nui stuck).

Seems like a problem with routing? Will confirm if I get back with bottom navigation the issue exist or not.

### Issue Reproduction

1. Get a conversation with someone

[2022-03-20 10:20] YisusOnDev commented on #669
I'm using npwd since (months?) So when i create a new player i generate a phone and save into the database with all his character data, so i'm not using any npwd phone generator or saver.

[2022-03-20 11:06] YisusOnDev opened #673 "Bug: Deleted conversation still getting messages generating phone crash."
### Development Issue

Yes

### Phone Version

v1.2.3

### Issue Description

(Don't mind group chat or normal chat)

If you create or have a conversation and delete it, you keep getting messages for the deleted conversation so the phone gets errors and crash.

### Issue Reproduction

1. Tell someone to text you or send message to someone
2. Get a normal conversation
3. Delete the conversation
4.

[2022-03-20 13:48] WilderMO commented on #669
ok thanks. Them Im going to look into this more now.

[2022-03-20 14:11] AvaN0x opened #674 "Bug: Incorrect arguments to mysqld_stmt_execute"
### Development Issue

No

### Phone Version

1.2.1

### Issue Description

Issue caused by MySQL version 8.0.22 and above (currently using 8.0.27). Whenever a query has a `LIMIT ?` there is the error "Incorrect arguments to mysqld_stmt_execute".

This issue has a fix that you can find here https://github.com/sidorares/node-mysql2/issues/1239#issuecomment-760314979.
Basically, every time there is

[2022-03-20 16:29] YisusOnDev opened #675 "Bug: Matchmaker app bugged after 100 or more likes"
### Development Issue

Unsure

### Phone Version

v1.2.3

### Issue Description

When someone gets more than +99 matches with other people the app gets bugged.

### Issue Reproduction

1. Get more than 100 matches/likes in the app
2. App does not show properly again.

### Evidence

![image](https://user-images.githubusercontent.com/52821987/159172424-3381f930-d4f1-499d-9820-cf6e7cfd4d3c.png)

[2022-03-20 23:22] YisusOnDev opened #677 "Bug: onMessage Export not working"
### Development Issue

Unsure

### Phone Version

v1.2.3

### Issue Description

With the latest changes "onMessage export listener" does not work, u send a message and the listener never get called (didn't receive that someone message any number).

### Issue Reproduction

1. Register an onmessage export for 1 number
2. Send a message to that number
3. nothing happens, listener not working

### Ev

[2022-03-22 15:10] Deniel00 opened #678 "Bug: Syntax error in match_views insert"
### Development Issue

No

### Phone Version

v1.2.3

### Issue Description

Hi,

We got error while view match profiles:
[code]

### Issue Reproduction

1. Simple view match profiles.

### Evidence

![kép](https://user-images.githubusercontent.com/12788940/159514429-8b134b0f-a253-438a-8402-2bd1319083f7.png)

[2022-03-23 19:49] Mojito-Fivem commented on #675
Do you have a reliable repro for this? I'm unable to recreate this in my dev environment after adding a few hundred entries to the mock data

[2022-03-23 20:11] YisusOnDev commented on #675
No, people gets bugged when gets 100+ matches, on my server there are +300 players registered and so. I can only reproduct this on the live server

[2022-03-24 03:25] CloakedManz opened #681 "Bug: Calling Via Messages App"
### Development Issue

Yes

### Phone Version

Latest Version

### Issue Description

When you are in the Messages app, if you try to call someone with the phone icon in the top right corner, it says "You cannot call your own number."

### Issue Reproduction

1. Open Phone
2. Open Messages
3. Select A Contact For Messaging
4. Click The Call Button In The Top Right
5. Error Should Reproduce

### Ev

[2022-03-24 16:18] pstomi opened #682 "Enhancement: Matchmaker app should use the built in gallery like other apps instead of external URL"
### Application

Matchmaker

### Dependency

No

### Feature Description

Matchmaker app should use the built-in gallery like other apps instead of external URL. Using external URL allows people to use NSFW pictures at their matchmaker profile.

### References

_No response_

[2022-03-24 23:28] CloakedManz opened #683 "Bug: NUI Freezing While Calling"
### Development Issue

Yes

### Phone Version

1.2.3

### Issue Description

When you make a phone call, when the other person answers, the phone continues to ring, and the NUI freezes. You are unable to hang up. This happens when you try to close the phone while calling someone. When you press backspace to close the phone, the NUI completely freezes.

### Issue Reproduction

Call someone
Press ba

[2022-03-25 17:58] Mojito-Fivem commented on #683
I'm unable to reproduce

[2022-03-25 22:30] Ehbw commented on #677
Can confirm, it appears that the tgtPhoneNumber and sourcePhoneNumber variables on the ``npwd:sendMessage`` event are always the same

[2022-03-26 02:14] raminhos opened #684 "Table 'essentialmode.npwd_messages_participants' doesn't exist"
### Development Issue

Unsure

### Phone Version

1.2.3

### Issue Description

Missing SQL Table
[code]

### Issue Reproduction

Didn't find this table in sql file

### Evidence

_No response_

[2022-03-26 11:35] itschip commented on #655
@Slypher is this resolved?

[2022-03-26 15:12] FBFezz commented on #684
I get the same error.

Latest ESX version
Onesync on
Latest Version of NPWD

[2022-03-26 15:28] Mojito-Fivem commented on #684
https://github.com/project-error/npwd/blob/14c82ee1973fb4d43bc239d140a1af538c4125f8/import.sql#L163 it's definitely in there, you need to update your schema.

[2022-03-26 15:28] #684 closed

[2022-03-26 17:35] Deniel00 opened #685 "Bug: new messages insert top of conversation"
### Development Issue

No

### Phone Version

1.2.3

### Issue Description

Sometimes new messages insert top of conversation

### Issue Reproduction

i'm dont know how reproducte, we're using phone script on prod server with 130+ players

### Evidence

database:
![kép](https://user-images.githubusercontent.com/12788940/160250889-48af4e2f-c505-4bbc-839b-7ef0e7fae131.png)
in phone first 5 message i

[2022-03-26 17:37] Mojito-Fivem commented on #685
I have no idea what im looking at, can you describe your issue better and provide a reproduction

[2022-03-26 17:44] FBFezz commented on #684
My db has it in and still gave the error which is the odd thing

[2022-03-26 18:26] Deniel00 commented on #685
First 5 messages is the newest and 6. is the oldest. New messages pushed top of conservatin instead of bottom.
![kép](https://user-images.githubusercontent.com/12788940/160252443-fc72f674-1161-4043-b094-2dd381011f6a.png)
(purple highlights is newset, blue is oldest)

[2022-03-26 18:33] itschip commented on #685
Not totally sure, but likely that your primary key auto_inc value wasn't 0, and now when you've updated, the auto_inc value has been set to 0, but we should probably order messages by `createdAt` anyways.

[2022-03-26 18:37] Deniel00 commented on #685
Messages id correct i'm think, because oldest id is 49 and newest 2570

[2022-03-26 20:33] Deniel00 commented on #681
Valid problem in v1.2.3
![kép](https://user-images.githubusercontent.com/12788940/160256059-a1dd119f-2597-476f-9c31-95c301645fbb.png)

[2022-03-27 02:54] coookie1010 commented on #678
I had this sql error too

Phone Version
v1.2.5

[2022-03-27 02:57] itschip commented on #678
I'll take a look tomorrow.

[2022-03-27 04:01] itschip commented on #674
Fixed in 14c82ee1973fb4d43bc239d140a1af538c4125f8 and 90133a626a2445b549e9a67cef214a1382d0b426

[2022-03-27 04:01] #674 closed

[2022-03-27 04:04] itschip commented on #558
Fixed in https://github.com/project-error/npwd/commit/8d0992a680f049c7d5d3693a4fa5409b78646b18

[2022-03-27 04:04] #558 closed

[2022-03-27 04:05] itschip commented on #663
@YisusOnDev Can you test on 1.2.5?

[2022-03-27 04:06] itschip commented on #660
Fixed in 558f805da94fca39f21500091259cc1cf8689a81

[2022-03-27 04:06] #660 closed

[2022-03-27 04:39] AvarianKnight commented on #681
This was fixed in https://github.com/project-error/npwd/pull/671/commits/99be15b2d43343084548245c959dbd999d400a7a

[2022-03-27 06:58] #681 closed

[2022-03-27 10:03] #678 closed

[2022-03-27 11:50] pierrearma opened #691 "Bug: Twitter RTs don't work"
### Development Issue

Unsure

### Phone Version

Phone version: 1.2.6

FXServer version: 5402

Database version: `10.6.5-MariaDB`

Database tables configuration: `import.sql` of version 1.2.6 with `utf8mb4_general_ci`

### Issue Description

An error occurs when trying to RT a Tweet.

### Issue Reproduction

1. Open Twitter.
2. RT a Tweet.

### Evidence

Server side error:

[code]

Client side er

[2022-03-27 12:03] itschip commented on #691
Will look into it later today. Thanks for reporting.

[2022-03-27 13:41] Dennis-NL opened #692 "RESOLVED"
RESOLVED

[2022-03-27 13:50] itschip commented on #692
Make sure you've imported the new tables.

[2022-03-27 13:52] #692 closed

[2022-03-27 13:53] Dennis-NL commented on #692
Just found out 5 minutes ago. Made an issue to quick

[2022-03-27 23:31] itschip commented on #691
Fixed in 7e57f5c8ea1f571ecd362afef5eaa5e2aa080f42

[2022-03-27 23:31] #691 closed

[2022-03-27 23:33] itschip commented on #673
@YisusOnDev Does still happen in 1.2.6?

[2022-03-28 11:12] FBFezz commented on #684
Fixed by removing all sql tables for npwd and re importing it. Also removed the numbers on the the users

[2022-03-28 11:13] itschip commented on #684
You just needed to import that *one* table :)

[2022-03-28 13:35] Deniel00 commented on #685
In v1.2.6 is still present.
last_message_id not update on new messages
![kép](https://user-images.githubusercontent.com/12788940/160407683-629e1f4c-cfbb-4db7-97fd-08830a0ea9bd.png)
![kép](https://user-images.githubusercontent.com/12788940/160407794-ceb04782-4b86-4eb2-acfd-cf653714bdf9.png)
and new messages pop top of first message
![error](https://user-images.githubusercontent.com/12788940/1604089

[2022-03-28 16:51] itschip commented on #685
Thanks, I'll look into it.

[2022-03-28 20:50] itschip commented on #685
First issue should be fixed in https://github.com/project-error/npwd/commit/009b2ece551eaa6420d0cc9d8b97ea139e53daec

The rest is duplicate of #673

[2022-03-28 21:21] itschip commented on #673
Should be fixed in 863d54a8184aa8bfc0a05d04628bf90ddc161554. I'll create a new release shortly you can test.

[2022-03-28 21:24] itschip commented on #672
Not able to reproduce. Probably related to #673

[2022-03-28 21:55] itschip commented on #655
Closing this for now. Worth noting that we're working on our own service for those that has trouble with imgur and other services.

[2022-03-28 21:55] #655 closed

[2022-03-28 21:57] itschip commented on #626
Closing this. If you're still on 1.1.7, please update.

[2022-03-28 21:57] #626 closed

[2022-03-28 21:57] itschip commented on #591
@AvaN0x closing this. Please let me know if it still occurs.

[2022-03-28 21:57] #591 closed

[2022-03-28 21:58] itschip commented on #599
@RuisSoftware closing this. If you haven't updated the phone since this was reported, do such and create a new issue if this occurs again.

[2022-03-28 21:58] #599 closed

[2022-03-28 23:12] itschip commented on #476
Closing this. Fixed in 1a78500b3f24f5f49cc23113acb6617b919b19ec

[2022-03-28 23:12] #476 closed

[2022-03-29 08:46] Deniel00 commented on #685
i'm updated phone to 1.2.7. as soon as possible feedback about this issue (also https://github.com/project-error/npwd/issues/673)

[2022-03-29 11:18] AvaN0x commented on #591
Seem to have been fixed! 👍
I will let you know if it occurs again.

[2022-03-29 11:22] AvaN0x commented on #677
I can confirm it too, message sent from `456-456-4567` to `911` :
![image](https://user-images.githubusercontent.com/27494805/160600560-3995bdbc-cdcb-410a-adcf-18357d09bb4e.png)

[2022-03-29 11:34] AvaN0x opened #694 "Bug: issue on first connection (twitter profile)"
### Development Issue

Yes

### Phone Version

1.2.7 (Latest)

### Issue Description

When first connecting, the phone will timeout while trying to fetch twitter profile causing the phone to not be able to open anymore.
The account gets created but will only be usable only for the next connection.

### Issue Reproduction

1. Remove the twitter profile of the account you'll test from the database (

[2022-03-29 14:54] Deniel00 commented on #670
Duplicate of https://github.com/project-error/npwd/issues/544

[2022-03-29 14:57] Deniel00 commented on #557
it's fixed in v1.2.7
![kép](https://user-images.githubusercontent.com/12788940/160641088-aeebbe77-54ee-4b95-9ab9-40bf33365474.png)
![kép](https://user-images.githubusercontent.com/12788940/160641126-f4d7a080-4dfb-48f9-baca-2ba3234649eb.png)
![kép](https://user-images.githubusercontent.com/12788940/160641158-bcab71ba-81c2-4e35-9e34-498b30af961b.png)

[2022-03-29 15:03] Deniel00 opened #695 "Bug: duplicate call history"
### Development Issue

No

### Phone Version

v1.2.7

### Issue Description

Call history duplicated entry in nui, because in database had one entry, because after relog show only one entry.

### Issue Reproduction

1. Call someone
2. End call

### Evidence

![kép](https://user-images.githubusercontent.com/12788940/160642101-ddb1773a-df5a-44e2-b7ce-6f94eb9cdafa.png)
![kép](https://user-images.gith

[2022-03-29 15:12] Deniel00 commented on #663
in v1.2.7 working fine (maybe time not correct or it calculated ingame time?)
![kép](https://user-images.githubusercontent.com/12788940/160643627-b79cb838-34da-488f-9c5c-b0d26d9f93d8.png)
![kép](https://user-images.githubusercontent.com/12788940/160643676-dc3da77b-0f2e-43d8-85bd-a21127b8cc33.png)
btw change missed call icon? because incoming icon are same
![call](https://user-images.githubusercont

[2022-03-29 17:41] Deniel00 commented on #685
New information from players:
After 20 messages broke message order.
So 21th message will show of conservation top and shows those in subsequent order. It’s like having a new page after 20th message and putting it on top of it.

[2022-03-29 17:59] Deniel00 commented on #685
video:
https://streamable.com/r6m4gt
test converstaion db:
![kép](https://user-images.githubusercontent.com/12788940/160674546-5e158fac-6d68-4d74-a955-31a8b837ac1d.png)

[2022-03-29 18:14] Deniel00 opened #696 "Bug: stuck in nui if want accept call from notification bar"
### Development Issue

No

### Phone Version

v1.2.7

### Issue Description

Block buttons (?)
If probaly accept call from notification bar blocking buttons (like cant walk, cant close phone with f1)

### Issue Reproduction

1. wait for call
2. get up phone (with f1)
3. accept call from notification bar

### Evidence

![kép](https://user-images.githubusercontent.com/12788940/160677595-28c6bb62-5f1

[2022-03-30 13:03] itschip commented on #685
Ill look into it.

[2022-03-30 20:26] pierrearma opened #697 "Bug: div with buttons spacing problem in the settings app"
### Development Issue

Unsure

### Phone Version

1.2.7

### Issue Description

There is a problem of spacing that changes when you open the "settings" app. This problem appears only in this app (or the problem is everywhere except in this application depending on the point of view).

### Issue Reproduction

1. Open the phone
2. Open settings app
3. Close settings app

### Evidence

Normal spacing

[2022-03-30 20:57] itschip commented on #685
Fixed in develop. Closing for now.

[2022-03-30 20:57] #685 closed

[2022-03-30 20:57] #672 closed

[2022-03-30 20:57] #673 closed

[2022-03-30 21:02] itschip commented on #695
Does this only happen when you call someone that accepts? Or if you try to call someone, then end the call?

[2022-03-30 21:09] Deniel00 commented on #695
-  I'm call someone
- he/she accept call
- after some second end all

You can check this in database row

[2022-03-30 21:13] itschip commented on #694
I think we should add a relation between the profile and each tweet to hinder that any profile gets deleted without deleting the account's tweet.

[2022-03-30 21:29] Talithaald opened #698 "Bank Transfer"
### Application

Other

### Dependency

Yes

### Feature Description

An App that allows people to transfer their Bank Money to other Players (needs to be online for ID) or Offline through Phone Number.

### References

as far as I remember gcphone has Bank Transfer, didn't found any video about it tho, I don't mind posting a recording of the phone tomorrow when I'm on my computer

[2022-03-30 21:41] itschip commented on #698
It is being developed at the moment.

[2022-03-31 01:12] itschip commented on #683
Fixed in develop.

[2022-03-31 01:12] #683 closed

[2022-03-31 01:13] itschip commented on #696
I was able to reproduce it when I end the call right away. Seems like it's not picking up whatever.

[2022-03-31 01:14] itschip commented on #696
1.- Open the phone (And keep it open)
2.- Tell someone to call u and cancel the call (you (1) keep the phone opened)
3.- You get the call stuck on the notification bar

From @YisusOnDev

[2022-03-31 01:14] itschip commented on #696
#670

[2022-03-31 01:17] itschip commented on #544
Duplicate of #696

[2022-03-31 01:17] #544 closed

[2022-03-31 11:11] Deniel00 commented on #696
It's different from #670
in 670 call stuck in notification bar
in this lose control of character (can't move with character, can't toogle phone), but it fix if type `phone` command on console

Today probably repro this bug and reproduce, but still can't reproduce this

[2022-03-31 11:17] itschip commented on #696
I think we'll have to tear call functionality apart and see what's going on. It's a shitshow of unreadable code, most of it.

[2022-03-31 11:37] Deniel00 commented on #696
Then no post new bug with call? 😅

[2022-03-31 12:14] itschip commented on #696
@Deniel00 if you know of any other issues, please let me know here.

[2022-03-31 22:48] itschip commented on #669
@WilderMO was this resolved?

[2022-03-31 22:48] itschip commented on #557
Closing this we're removing the notification.

[2022-03-31 22:48] #557 closed

[2022-04-01 01:46] itschip commented on #695
@Deniel00 Should be fixed in 1.2.8

[2022-04-01 01:47] itschip commented on #696
@Deniel00 Removed the notification alert since we already force you to be in the call modal. You should only see an alert when the phone is closed. See 1.2.8

[2022-04-01 01:48] itschip commented on #661
Closing this. Please use our support channel in the Discord guild.

[2022-04-01 01:48] #661 closed

[2022-04-01 01:50] itschip commented on #694
@AvaN0x 1.2.8 contains changes to the Twitter tables which should fix this.

[2022-04-01 05:39] tr1ckz opened #699 "Enhancement: export to end call"
### Application

Dialer

### Dependency

No

### Feature Description

Similar to the export to start a call, one to end it, could be used to trigger it to kill a call while swimming, or maybe make a payphone and use start to dial and end to end.

### References

_No response_

[2022-04-01 07:09] AvaN0x commented on #694
Just trying this and the issue is still occuring on first connection with a freshly imported `import.sql` :
![image](https://user-images.githubusercontent.com/27494805/161212517-b5d1bac7-6729-49dc-90b7-48ec78ca4201.png)
![image](https://user-images.githubusercontent.com/27494805/161213180-d9fa52f7-823b-443a-8b96-b2a8395d4de6.png)

---

Also I found an issue in the `import.sql` file with the latest

[2022-04-01 10:43] Deniel00 commented on #696
We will check today after 2pm

[2022-04-01 12:05] Deniel00 commented on #696
Message order fixed and.. console.log :D
![kép](https://user-images.githubusercontent.com/12788940/161259877-f9950671-af8c-4f8f-9d5c-fa4b34ca9832.png)

[2022-04-01 14:26] pierrearma opened #700 "Enhancement: Check file extension for image links"
### Application

Other

### Dependency

No

### Feature Description

Some boomer users don't understand that when you put a link, it is a direct link to the file.
They then say that it doesn't work to put a link to an image...
An error message would help them, I think.

### References

_No response_

[2022-04-01 14:57] GeerdoDaGr8 opened #701 "No able to post to twitter"
### Development Issue

Unsure

### Phone Version

1.2.8

### Issue Description

When trying to post a new tweet it says "Failed to create your profile"

### Issue Reproduction

All that was done was we updates from an older version of the phone to the latest version and it no longer works.  I have triued changing my twitter profile name and resaving it but nothing has fixed the error.  Nothing is

[2022-04-01 15:28] #701 closed

[2022-04-01 16:35] Deniel00 commented on #696
Tested.
Fixed.

[2022-04-01 16:35] #696 closed

[2022-04-01 16:37] Deniel00 commented on #695
Fixed in v1.2.8

[2022-04-01 16:37] #695 closed

[2022-04-01 17:58] Deniel00 opened #703 "Bug: Matchmaker app - show people many times"
### Development Issue

No

### Phone Version

v1.2.8

### Issue Description

A, throws the same person many times.

### Issue Reproduction

1. just use app and you will see one person many times

### Evidence

![kép](https://user-images.githubusercontent.com/12788940/161317120-cb16c611-193a-40b8-848b-b4ab639c2fe6.png)

[2022-04-01 20:31] itschip commented on #669
Closing this for now. Try with 1.2.8.

[2022-04-01 20:31] #669 closed

[2022-04-02 09:26] minirovi95 opened #706 "Enhancement: distress message"
### Application

Messages

### Dependency

No

### Feature Description

It would be great to implement the rescue system so that when someone dies, by pressing a key they can notify the ambulance since without this in the roleplay it is not in good taste...

### References

_No response_

[2022-04-02 09:31] minirovi95 opened #707 "Help: Need Help Photo"
I need help because I can't get the photos to be saved in the gallery... can someone help me please ?
![movilerror](https://user-images.githubusercontent.com/66905783/161377070-c7ebc550-28ba-4d56-a477-e5596fa89643.png)

[2022-04-02 17:46] itschip commented on #706
This can easily be done without a phone.

[2022-04-02 17:46] #706 closed

[2022-04-02 17:46] itschip commented on #707
Your config is most likely wrong. See docs.

[2022-04-02 17:47] itschip commented on #694
@AvaN0x Can I see your Twitter config? Or is it using the default configuration?

[2022-04-02 17:48] AvaN0x commented on #694
@itschip default config for twitter

[2022-04-02 18:01] minirovi95 opened #708 "Your config is most likely wrong. See docs."
Your config is most likely wrong. See docs.

_Originally posted by @itschip in https://github.com/project-error/npwd/issues/707#issuecomment-1086688670_

I have read everything, I have your screenshot and everything and it still doesn't work for me, in the config option of: authorizationPrefix": "Client-ID", in the clientid do I have to put my imgur id?

[2022-04-02 18:03] itschip commented on #708
The key `authorizationPrefix` in the config needs the value `Client-ID`. Your Client ID from imgur needs to be added as a convar in the *.cfg file you have.

[2022-04-02 18:27] itschip commented on #694
Fixed in develop.

[2022-04-03 07:09] Deniel00 commented on #707
Miss configuration not issue/bug
Please join to discord for faster help what you find on https://projecterror.dev/docs/ under `Community Links`

[2022-04-03 07:09] Deniel00 commented on #708
Miss configuration it not issue/bug
Please join to discord for faster help what you find on https://projecterror.dev/docs/ under `Community Links`

[2022-04-03 11:16] AvaN0x commented on #694
I tested in develop, and I still have the issue of the phone not opening with the slight difference that this time I don't have the "npwd:fetchTweets has timed out" line in client console:
![image](https://user-images.githubusercontent.com/27494805/161425033-03808bb4-71f3-49ae-a7ed-3a37038154bc.png)
![image](https://user-images.githubusercontent.com/27494805/161425059-c62918f5-ab59-414b-94db-975b6

[2022-04-04 00:41] #708 closed

[2022-04-04 00:41] #707 closed

[2022-04-04 00:42] itschip commented on #703
Currently introducing pagination for viewing matches. I'll look into this later.

[2022-04-06 00:37] mr-capy commented on #706
How its really helpful if u can provide some detail coz i am using this phone just due to distress

[2022-04-06 02:38] R3site commented on #529
You are right it is metagaming, but functionality that stops it from happening > server owners being frustrated when their million+ sub streamer in their server leaves bc hundreds of trolls start spamming their number in server.

[2022-04-06 11:21] itschip opened #709 "Enhancement: Update to React 18"
### Application

Other

### Dependency

Yes

### Feature Description

Update React to 18.x

### References

https://reactjs.org/blog/2022/03/29/react-v18.html

[2022-04-06 14:32] TheDiego845 opened #710 "Bug: Failed to get or create profile, input.replace is not a function"
### Development Issue

Unsure

### Phone Version

1.2.9

### Issue Description

I am using the latest version of npwd with esx-npwd in the latest version of legacy I have the error
Also i cant open the phone
[         script:npwd] [NPWD] [twitter] [error]: Failed to get or create profile, input.replace is not a function

### Issue Reproduction

Install npwd on latest version

### Evidence

![image

[2022-04-06 16:25] itschip commented on #694
@AvaN0x Could you try and delete

[2022-04-06 16:40] itschip opened #711 "Enhancement: Send location through messages"
### Application

Messages

### Dependency

No

### Feature Description

New context menu option to send your current coords through messages. Coords should not update over time.

### References

_No response_

[2022-04-06 16:43] AvaN0x commented on #694
Yes I'll give it a try a bit later today.

By the way, whenever I try this I always clear everything from npwd on my dev server (DROP every tables and re import them all).

[2022-04-06 18:33] AvaN0x commented on #694
Ok so I just tried it with the latest commits from develop and I don't get the issue anymore. Phone opens on first connection after a database cleaning.
Tried two times to be sure and it seems to be fixed.

[2022-04-07 04:58] Haidee-hm opened #713 "Enhancement: Dark Chat with Anonymous users"
### Application

Other

### Dependency

No

### Feature Description

I would love to see the ability to use Dark Chat where the users are anonymous.

### References

_No response_

[2022-04-07 07:43] Haidee-hm opened #714 "Bug: Reducing server console spam"
### Development Issue

Unsure

### Phone Version

Apr 2, 2022 commit beffa2e

### Issue Description

Every message sent with the phone has a server console broadcast, despite the Debug enabled being set to false.  Can this certain message please be disabled when this is set to false?

### Issue Reproduction

1. Install phone - set Debug level: error, Debug enabled: false, Debug sentryEnabled: fals

[2022-04-07 08:03] itschip commented on #714
I think this is fixed in develop or so.

[2022-04-07 19:15] itschip commented on #714
Fixed in 1.2.91

[2022-04-07 19:15] #714 closed

[2022-04-07 19:15] itschip commented on #703
@Deniel00 Please test this in 1.2.91

[2022-04-07 19:16] itschip commented on #675
@YisusOnDev Please test this in 1.2.91

[2022-04-07 19:17] itschip commented on #710
@TheDiego845 Can you try 1.2.91

[2022-04-07 19:29] csrpfivem opened #715 "Bug: Cannot read property 'length' of undefined"
### Development Issue

Unsure

### Phone Version

Release 1.2.91

### Issue Description

Next error is showing in F8 console right after connection to server / spawning character:

`TypeError: Cannot read property 'length' of undefined (@npwd/resources/html/static/js/main.b672e25e.js:2)`

Error shows only 1 time.

Additionally, when I'm trying to open the phone it triggers only player animation wi

[2022-04-07 19:34] csrpfivem commented on #715
![image](https://user-images.githubusercontent.com/85900432/162282296-be87632a-e5b6-4cf3-bf2f-4ececdfeca39.png)

[2022-04-07 19:45] Deniel00 commented on #703
Next day will test it.

[2022-04-08 02:52] itschip commented on #694
Closing. Reopen if it occurs again.

[2022-04-08 02:52] #694 closed

[2022-04-08 07:51] TheDiego845 commented on #710
![image](https://user-images.githubusercontent.com/69425536/162390678-d35e0331-7844-4b63-aeda-bdd9fa341bc1.png)
I have the same error

[2022-04-08 08:44] AvaN0x commented on #711
Hello, I have just been looking at the code for embeds (mainly for the shared locations) and I was wondering something:
What would think about displaying the message content next to the shared location?

I'm asking this because from what I see, the [MessageEmbed](https://github.com/project-error/npwd/blob/481110f3710212f3dbe8e5672ac4163bf8c41d1b/phone/src/apps/messages/components/ui/MessageEmbed.t

[2022-04-08 10:37] Mojito-Fivem commented on #711
This is done so that the notifications aren't blank, this fix has also been applied to contact embeds.

[2022-04-08 11:36] AvaN0x commented on #711
Oh okay, I didn't think about the notifications.

[2022-04-08 12:24] AayanAsim746 opened #716 "Phone"
Whenever i open the phone it just shows a notification that tommy sent a message and does not shows the phon
![Screenshot 2022-04-08 172617](https://user-images.githubusercontent.com/77937350/162434979-2bf6704e-90ad-49f1-af6b-2661fb0872ba.jpg)
e

[2022-04-08 12:43] itschip commented on #716
Tommy! Fucking Tommy!

[2022-04-08 12:43] itschip commented on #716
I hate that guy!

[2022-04-08 12:54] #711 closed

[2022-04-08 17:56] anes66 commented on #716
nooo he is a good guy xD

[2022-04-09 16:28] DrValko opened #717 "A little bit of change"
### Application

Other

### Dependency

No

### Feature Description

Hello, I would like to welcome more setting options in your NPWD:

Enable / Disable applications
Like: Browser, a completely unused thing ...

### References

_No response_

[2022-04-09 16:32] Mojito-Fivem commented on #717
If you want to disable apps then you can do that here https://github.com/project-error/npwd/blob/master/phone/src/os/apps/config/apps.tsx

[2022-04-11 04:33] #716 closed

[2022-04-11 18:23] Ricko0o opened #718 "Enhancement: Option to persist marketplace listings"
### Application

Marketplace

### Dependency

No

### Feature Description

make marketplace listings persistent, config delete/not delete postings when player drops

### References

_No response_

[2022-04-12 17:36] Deniel00 commented on #703
After update to 1.2.91 got this error:
![kép](https://user-images.githubusercontent.com/12788940/163021078-05c019e5-71d3-469f-9382-cdad3fea2eb5.png)

[2022-04-13 18:01] GeerdoDaGr8 opened #719 "Match error"
### Development Issue

Yes

### Phone Version

1.2.91

### Issue Description

Not sure what the issue it but i am getting this on my server console quite a bit.

### Issue Reproduction

I believe this is just when going through match

### Evidence

![image](https://user-images.githubusercontent.com/56656726/163242234-e5a3acd1-ad69-40e1-8c54-b0017ff047ef.png)

[2022-04-14 10:11] TheDiego845 commented on #710
bru

[2022-04-14 10:11] #710 closed

[2022-04-14 17:17] #616 closed

[2022-04-14 17:28] #717 closed

[2022-04-15 23:07] erayko-dev opened #721 "Bug: Script Error"
### Development Issue

Unsure

### Phone Version

1.x.x

### Issue Description

I just get this issue

### Issue Reproduction

idk tbh

### Evidence

![image](https://user-images.githubusercontent.com/76734458/163650566-3b259f8e-52da-4008-afca-75f85907798d.png)

[2022-04-15 23:07] itschip commented on #721
@erayko-dev Make sure you download the release, not the source code.

[2022-04-15 23:08] itschip commented on #719
@GeerdoDaGr8 Could you test 1.2.92?

[2022-04-15 23:09] itschip commented on #718
Fixed.

[2022-04-15 23:09] #718 closed

[2022-04-15 23:09] itschip commented on #703
@Deniel00 Could you try 1.2.92?

[2022-04-15 23:18] erayko-dev commented on #721
trying now @itschip :)

[2022-04-15 23:29] itschip commented on #715
@csrpfivem no server errors?

[2022-04-16 00:17] erayko-dev commented on #721
no errors however, I want to change the toggle to "m" I changed every f1 I found to small and capital M but nothing, any help?

[2022-04-16 00:20] itschip commented on #721
@erayko-dev The key is already registered for you as f1. You'll have to change it in-game. As for new users, it'll be "m"

[2022-04-16 00:26] erayko-dev commented on #721
got that to work but
![image](https://user-images.githubusercontent.com/76734458/163654609-78c3c481-f3ec-40e8-a5da-f426198fe6b2.png)

[2022-04-16 00:26] erayko-dev commented on #721
no phone?

[2022-04-16 00:27] itschip commented on #721
client or server error?

[2022-04-16 00:28] erayko-dev commented on #721
nothing @itschip

[2022-04-16 00:35] erayko-dev commented on #721
nvm, I get this:
![image](https://user-images.githubusercontent.com/76734458/163654878-a98411ba-67cf-431d-92af-46cbc3587f11.png)

[2022-04-16 01:00] erayko-dev commented on #721
also this
![image](https://user-images.githubusercontent.com/76734458/163655747-b7dac632-a932-492e-b1e6-1981f2851888.png)

[2022-04-16 01:03] itschip commented on #721
yeah, i think it's quite clear what the issue is then

[2022-04-16 01:22] itschip commented on #721
and use the discord for more support questions.

[2022-04-16 01:22] #721 closed

[2022-04-16 20:02] GeerdoDaGr8 commented on #719
so far I am not seeing the error anymore but I i am getting this a lot now
[         script:npwd] [NPWD] [messages] [error]: Failed to broadcast message, Error: Cannot read properties of undefined (reading 'identifier')

[2022-04-16 20:05] itschip commented on #719
Hm, does this only happen when you try to send a message to someone that is offline?

[2022-04-17 01:43] csrpfivem commented on #715
No server errors unfortunately.

[2022-04-18 20:53] itschip commented on #715
I'll look into it today.

[2022-04-18 20:54] itschip commented on #719
We should probably only display a warning or just some debug print.

[2022-04-18 20:57] itschip commented on #713
Would it be ideal to *not* receive notifications for such an app? Also, how would joining of groups work? IDs or named groups? I do believe GCPhone used some int ID with a # prefix. Is that preferred or should we attack this from another angle?

[2022-04-19 15:15] Fripplo opened #724 "Enhancement: Preview of sounds in settings"
### Application

Settings

### Dependency

No

### Feature Description

- a sound preview(a beep or whatever) on the volume while adjusting it on notification or ringtone.
- a sound preview(a play-button on the right side of the sound) when changing ringtone/notification so you know how it sounds without having to tell someone to call you just to know how it sounds like.

### References

_No respo

[2022-04-20 14:59] Deniel00 commented on #703
Same result in 1.2.92: (reseted db for cleary result)
![kép](https://user-images.githubusercontent.com/12788940/164260185-a12a8be1-fcda-4d7a-a873-f5863b0ee5f1.png)

[2022-04-20 15:08] itschip commented on #703
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

[2022-04-20 15:10] Deniel00 commented on #703
i'm think it's an angry `AAAAA...`

[2022-04-20 15:10] itschip commented on #703
I'll check it out today or tmrw @Deniel00 :) Thanks

[2022-04-20 15:52] Deniel00 commented on #703
Maybe try this?
(https://github.com/project-error/npwd/blob/master/resources/server/match/match.db.ts#L22)
[code]
I'm tested both sql from your code, and this, and give same result.

[2022-04-21 02:11] minirovi95 opened #726 "ADD Dark chat please"
hello, I've been using your phone for a few weeks and it works great but users ask me for dark chat since it is necessary to carry out roles in the dark market without the presence of the police, will you implement it?

[2022-04-21 02:12] itschip commented on #726
Continue the discussion here #713

[2022-04-21 02:39] MAKA02 commented on #698
carding and loading is an act to be done by legitimate people
need verification on how to get quick cc , PayPal transfers and more ?
have you been looking for a place to buy cc and get legit money TRANSFER services like PayPal,  western union and more ?
visit https://t.me/credit_card_uk

[2022-04-21 02:39] MAKA02 commented on #698
carding and loading is an act to be done by legitimate people
need verification on how to get quick cc , PayPal transfers and more ?
have you been looking for a place to buy cc and get legit money TRANSFER services like PayPal,  western union and more ?
visit https://t.me/credit_card_uk

[2022-04-21 04:03] #726 closed

[2022-04-21 04:03] itschip commented on #724
@Mojito-Fivem is this something you'd like to do before we merge #725

[2022-04-21 06:40] Mojito-Fivem commented on #724
The sound volume doesn't really exist with the native implementation but I can look at adding a preview button to play a short clip of each sound.

[2022-04-21 11:15] Mojito-Fivem commented on #724
Added in commit 8f4daf382fb239cc1557cc2d0a408aa9ea5deb31

[2022-04-21 11:15] #724 closed

[2022-04-22 19:08] AvaN0x commented on #677
Hello, I just tested this on latest master and the issue is still occuring.

Message sent from `456-456-4567` to `911`:
![image](https://user-images.githubusercontent.com/27494805/164778309-808b74f5-0149-450f-bfb9-d2fed01a2cb0.png)
![image](https://user-images.githubusercontent.com/27494805/164778328-39bfd240-8bc3-4cb4-ba64-33d0ca445f2d.png)

The code I used with the export:
![image](https://user-

[2022-04-22 19:10] itschip commented on #677
Thanks. I'll look into it.

[2022-04-23 04:38] dingyu1126 opened #727 "a Consult:for my language"
![微信截图_20220423123650](https://user-images.githubusercontent.com/64310374/164877822-107dc2f9-af71-4be1-b16a-96c0fff1b95b.png)
### I would like to ask how I can modify the language option inside the phone to display the language I need

[2022-04-23 09:39] itschip commented on #727
Yes, you can create a Pull Request with changes to a language or create a translation for a new language.

[2022-04-23 16:26] VictorFeroli opened #728 "Enhancement: Add Papirus Icons"
### Application

Other

### Dependency

No

### Feature Description

Add [papirus](https://github.com/PapirusDevelopmentTeam/papirus_icons) android icon pack, to icon alternatives:

- [Twitter](https://github.com/PapirusDevelopmentTeam/papirus_icons/blob/master/src/apps_twitter.svg)
- [MatchMaker](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/blob/master/Papirus/48x48/apps/tinder.sv

[2022-04-23 17:16] itschip commented on #728
Would be nice if you could link some of the icons you'd like to have.

[2022-04-23 18:08] VictorFeroli commented on #728
Done!

[2022-04-23 20:32] #641 closed

[2022-04-23 21:32] itschip commented on #643
This is fixed.

[2022-04-23 21:32] #643 closed

[2022-04-23 21:33] AMWARNING opened #730 "Bug: Error Sending messages"
### Development Issue

Unsure

### Phone Version

1.2.93

### Issue Description

When i try to send a message (one-to-one) it gives me a error

### Issue Reproduction

  1. Go to Contacts
  2. Click on Message icon
  3. Click on Send Message
  4. See error

OR

 1. Open Matchmaker
 2. Go to matches
 3. Click on the message icon
 4. Send message
 5. See error

### Evidence

Streanable down at the m

[2022-04-23 21:44] Mojito-Fivem commented on #730
Can't reproduce

[2022-04-23 21:48] AMWARNING commented on #730
Try this one https://www.veed.io/view/c5ae50ff-57b9-446a-88f6-04931ce0d308?sharingWidget=true

[2022-04-23 21:49] Mojito-Fivem commented on #730
That's the same video

[2022-04-23 21:50] AMWARNING commented on #730
Any clue of how i get this?

[2022-04-23 21:52] itschip commented on #644
Fixed.

[2022-04-23 21:52] #644 closed

[2022-04-23 21:53] Mojito-Fivem commented on #730
Without you showing anything, no

[2022-04-23 21:58] itschip commented on #664
I have allowed for duplicate names. I'll let you know when I release a patch for you to test.

[2022-04-23 21:59] itschip commented on #727
FYI as long as there are no translation for this key for the language you're using, it wil default to English. Closing this for now.

[2022-04-23 21:59] #727 closed

[2022-04-23 22:00] #632 closed

[2022-04-23 22:03] itschip commented on #730
@AMWARNING , are you sure there aren't any server console errors at all?

[2022-04-23 22:04] AMWARNING commented on #730
the problem is exacly that, i don't have something to show you, there are no errors

[2022-04-23 22:04] AMWARNING commented on #730
@itschip sure

[2022-04-23 22:06] itschip commented on #730
@AMWARNING I'll release a patch note that might help displaying an error. I'll let you know when its out.

[2022-04-23 22:22] itschip commented on #730
@AMWARNING try this: https://github.com/project-error/npwd/releases/tag/1.2.94

[2022-04-23 22:47] AMWARNING commented on #730
Thank you 4 your help, it gave me errors and ill fix them, it was db problems

[2022-04-23 22:48] #730 closed

[2022-04-24 12:56] itschip commented on #664
@YisusOnDev Could you check if this persists in 1.2.94?

[2022-04-24 17:21] itschip commented on #682
Should it *only* use the gallery?

[2022-04-24 18:28] itschip commented on #682
Fixed.

[2022-04-24 18:28] #682 closed

[2022-04-25 18:45] PlouffeLuL opened #732 "Bug: using emitMessage export returns an error"
### Development Issue

Unsure

### Phone Version

1.2.94

### Issue Description

When using:
exports.npwd:emitMessage it return a sql? error.

### Issue Reproduction

1. Use the export

### Evidence

[         script:npwd] Error calling system tick function in resource npwd: TypeError: Bind parameters must not contain undefined. To pass SQL NULL specify JS null
[         script:npwd] stack:
[

[2022-04-25 20:49] Mojito-Fivem commented on #677
64dfd1242e8037b9f041a889bcaa4b286ec154c2 should fix this on develop

[2022-04-25 21:16] Mojito-Fivem commented on #732
Fixed a problem with this export on develop branch, may be related to this. Can you pull develop and see if this helps.

[2022-04-25 21:16] PlouffeLuL commented on #732
function Core:SendTxt(playerId, message)
    local phoneNumber = self.Players[playerId].phone_number
    exports.npwd:emitMessage("121-3223", phoneNumber, message)
end

RegisterCommand("textme", function(s)
    Core:SendTxt(s, "penis")
end)

This is the code im using. Didnt do anything special honnestly. Its pretty basic.

[2022-04-25 21:19] Mojito-Fivem commented on #732
That will be why it errors out, you're passing the props all wrong. it takes an object like this:
[code]

[2022-04-25 21:20] Mojito-Fivem commented on #732
This doesn't seem to be documented so I'll add this to the docs

[2022-04-25 21:26] PlouffeLuL commented on #732
At first wizard told me pass it as an array and i was getting the same error. Should it be a table ? Im building the develop branch atm and i'll try.

[2022-04-25 21:27] Mojito-Fivem commented on #732
It should be an object as stated above using the interface

[2022-04-25 21:30] Mojito-Fivem commented on #732
I pushed an update to the docs with an example

[2022-04-25 21:41] PlouffeLuL commented on #732
Yea, i was doing it wrong. Im still getting an error but i assume that because of my configuration and not an issue with the phone.
[         script:npwd] Failed to emit message. Error: Cannot read properties of undefined (reading 'state_id')
Thank you :)

[2022-04-25 21:47] #732 closed

[2022-04-26 16:55] AvaN0x commented on #677
Thanks!
I just tested this and it worked.

---

PS: the silly logs still display the wrong tgtPhoneNumber:
![image](https://user-images.githubusercontent.com/27494805/165352515-e05bad1b-60f5-4bc3-baf0-229cae3568db.png)
![image](https://user-images.githubusercontent.com/27494805/165352850-3f9dc1ac-0a63-4121-b005-053321da58ee.png)
While the event display the right one:
![image](https://user-images.g

[2022-04-26 17:33] Mojito-Fivem commented on #677
Yeah it will do that because we had to change the approach to determining the target, group chat integration broke this export since there's no such thing as a "target number" anymore so we're just getting the target from the converation ID. This export will only work for 1 on 1 PMs for now.

[2022-04-26 17:33] #677 closed

[2022-04-27 09:11] YisusOnDev commented on #664
Can't reproduce it.

[2022-04-27 15:15] pierrearma opened #736 "Bug: emitMessage doesn't work when the conversation does not exist"
### Development Issue

Unsure

### Phone Version

1.2.95

### Issue Description

If we use the export "emitMessage" and the conversation does not exist, an error occur.

`Failed to emit message. Error: Cannot read properties of undefined (reading 'id')`

### Issue Reproduction

1. Be sure not to have a conversation with 912 (you can put the number you want).
2. Execute this code

[code]

4. Error

[2022-04-27 15:18] itschip commented on #736
@pierrearma is this a group chat, or a 1-to-1 conversation?

[2022-04-27 15:19] pierrearma commented on #736
I tested with a 1-to-1 conversation. Between me and 912.

[2022-04-27 15:20] itschip commented on #736
@pierrearma so I assume that this '921' is not an actual user in the db? If not , can you try with an actual user? The issue is most likely that we can't find the user.

[2022-04-27 15:21] itschip commented on #736
Oh

It works!

[2022-04-27 15:22] itschip commented on #736
Ah, so I guess we'll just have to create an conversation automatically if it doesn't exist then @Mojito-Fivem

[2022-04-27 15:24] pierrearma commented on #736
No it is already managed in the code the fact that the player is not found and it works.

Yes I think it's just that.

[2022-04-27 17:15] Mojito-Fivem commented on #736
Potentially fixed on develop with 78b4a1321565e405fe3b0385fb562f800b795817

[2022-04-27 17:25] Chubbbs opened #737 "Slice error with fillnewcontact export"
![image](https://user-images.githubusercontent.com/30705242/165584348-ba3228c1-79d6-465f-b198-f11e24f4e80e.png)

`exports.npwd:fillNewContact({ name = fullname, phone = SuggestionData.phone, avatar = 'https://i.imgur.com/rADs9v9.png' })`

[2022-04-27 18:18] pierrearma commented on #736
@Mojito-Fivem  I built the phone myself on the develop branch and there seems to be a problem on the frontend.
The notification is frozen (can't click on it, can't close it) and the conversation doesn't appear in the app.
When I restart the phone, the conversation appear.

[2022-04-27 19:19] Mojito-Fivem commented on #736
6ee12137c2d369bdcabb60a5ab7cd269a7d3bdc1 Should fix that fingers crossed

[2022-04-27 19:28] pierrearma commented on #736
It's fixed for me. You can close the issue when you want.

[2022-04-27 19:45] #736 closed

[2022-04-27 21:33] LifeGoal opened #738 "Bug: Unhandled promise failure: TypeError: Cannot read properties of null (reading '2')"
### Development Issue

Unsure

### Phone Version

1.2.96

### Issue Description

When the resource has started, an error pops up in the server-sided console. I'm unsure if it does anything but I feel like you should know that there is such an error even though it might not be an issue afterall.

I've tested the phone after the error pops out and I can't find any faults what so ever.
I'm on a Linux

[2022-04-27 22:03] LukeWasTakenn commented on #697
This issue seems to be caused by the padding on the mui's list items pushing down on the bottom navigation component.

Removing one or more settings items seems to fix the sizing but adding a settings item doesn't do anything.

[2022-04-28 15:19] Mojito-Fivem commented on #737
The correct syntax is
[code]

[2022-04-28 15:19] #737 closed

[2022-04-28 15:20] Mojito-Fivem commented on #738
What does your config look like?

[2022-04-28 15:58] menkzy opened #739 "Enhancement: Timestamps in text messages"
### Application

Messages

### Dependency

No

### Feature Description

When reading text messages, it's difficult to know when a text message is received and looks like a wall of text.
It would be nice to know when the text message was sent/received, next to where it has the sender name, in this [screenshots](https://i.imgur.com/DG5wJRO.png) case next to UNKNOWN.

It'd be nice for RP servers, as

[2022-04-28 16:37] LifeGoal commented on #738
I've implemented QBCore to the phone now so it looks like this. Still has the same error.

[code]

[2022-04-28 17:44] PlouffeLuL opened #740 "emitMessage export not working properly: Trying to send a message using the export returns an error"
### Development Issue

Unsure

### Phone Version

1.2.96 (latest avaible when i last tested it)

### Issue Description

Using this function

[code]

Returns this log (that should be expected according to mojito)
[code]

According to the information i have the message should still be sent anyway but i also get this error

[code]

This is my npwd config
[code]

The phone it self seems to works prope

[2022-04-28 18:02] Mojito-Fivem commented on #740
The first error log is expected when trying to fetch a number which doesn't exist, however the second log I can't reproduce

[2022-04-28 18:39] #740 closed

[2022-04-28 19:19] PlouffeLuL opened #742 "emitMessage create nui error: reloging after using the export creates nui error"
### Development Issue

Unsure

### Phone Version

1.2.96

### Issue Description

Reloging after receiving custom messages creates nui errors after using the same number to send the export

### Issue Reproduction

1: Send a message using any phone number
2: relog (you're going to have 2 convos)
3: Delete the convo (Not sure if nescessary)
4: Re send a message using the same phone number
5: Nui erro

[2022-04-28 19:20] Mojito-Fivem commented on #742
Can you see if 07a8a8dff6e9ef677f39993ae14ca0155c699101 on develop fixes this ?

[2022-04-28 19:55] PlouffeLuL commented on #742
So it seems like it fix half of it. I dont get the issue on relog and the conversation dont seem to be duplicated anymore.

But if i delete the conversation i still get the same error.

[code]

[2022-04-28 20:18] Mojito-Fivem commented on #742
Wouldn't it be nice to have source maps because I don't really have an idea of where in the frontend that's coming from

[2022-04-29 03:50] Chubbbs commented on #737
ass you see in the suggestiondata table it's all strings that are going into that. It's giving me a slice error still

[2022-04-29 03:50] Chubbbs commented on #737
I even tried it with the example to see if that would work and still gets a slice error.o

[2022-04-29 06:06] Mojito-Fivem commented on #737
Your data doesn't match the interface

[2022-04-29 21:17] Chubbbs commented on #737
@Mojito-Fivem
![image](https://user-images.githubusercontent.com/30705242/166070287-dabbee54-a83d-4691-8cce-5677bb050c64.png)

`exports.npwd:fillNewContact({ name = "test", phone = "123", avatar = "https://i.imgur.com/rADs9v9.png" })`

exact code I used

[2022-04-30 15:30] OuOwei opened #743 "Phone number change or default phone number"
### Application

Other

### Dependency

No

### Feature Description

I don't want to have such a long phone number, I want to be able to change the phone number length.

### References

_No response_

[2022-05-01 00:39] TonybynMp4 opened #744 "Enhancement: Crypto App"
### Application

Other

### Dependency

Yes

### Feature Description

A Crypto App like QB-Phone's that lets players :

-  **Buy**
-  **Sell**
-  **Exchange crypto currencies**
-  **See the STONKS and the NOTSTONKS of the currency**
-  **Transaction history for the player**

definitely very dependent on the framework but if the bank app could work why not this one !
(also kinda important for some

[2022-05-01 12:33] Mojito-Fivem commented on #744
This has been requested a few times, this is too framework dependent and npwd is framework agnostic. Once module federation is incorporated this will allow qb developers to create their own apps for npwd as separate resources.

[2022-05-02 15:07] itschip commented on #739
Added in d9e9d01260e9b71706a74a400b5b736135b48912

[2022-05-02 15:07] #739 closed

[2022-05-03 10:12] DutchMods opened #746 "Bug: can't open phone"
### Development Issue

Yes

### Phone Version

i tried it with the newest versions and all of them did give me the same error

for now i tried versions:
[1.2.97](https://github.com/project-error/npwd/releases/tag/1.2.97)
[1.2.95](https://github.com/project-error/npwd/releases/tag/1.2.95)

### Issue Description

when i try to open my phone it won't let me, only after opening my map and closing it a

[2022-05-03 10:39] itschip commented on #746
@DutchMods Have you tried to clear your local storage in nui_devtools?

[2022-05-03 10:40] itschip commented on #746
It might be that we have some unused values in our scheme, but try and clear it first. I'll look into it later, unless someone else does it :)

[2022-05-03 11:18] DutchMods commented on #746
maybe a dumb question but i don't have acces to nui_devtool command and don't see it in tools how can i fix this?

[2022-05-03 11:24] wowjeeez commented on #746
Either use the Canary channel, or turn on developer mode by starting FiveM with `+set moo 31337`

[2022-05-03 11:27] DutchMods commented on #746
and how do i start fivem with that?

[2022-05-03 11:29] wowjeeez commented on #746
Just edit the FiveM shortcut like so:
`C://path/to/fivem/FiveM.exe +set moo 31337`

[2022-05-03 11:38] DutchMods commented on #746
yes thanks that worked now where do i clean the locas storage?

[2022-05-03 12:18] wowjeeez commented on #746
same as you would in Google Chrome/Any chromium based browser (Application tab)

[2022-05-03 12:18] DutchMods commented on #746
Okay i followed the steps on your FAQ on how to clean the storage, i have done that but the error stays there so i don't know what to do.

[2022-05-03 16:19] itschip commented on #746
@DutchMods Thanks for testing it out atleast. Ill look into it later today.

[2022-05-03 19:32] JacobT1997 opened #747 "Bug: Error given after opening twitter on phone"
### Development Issue

Unsure

### Phone Version

Not sure

### Issue Description

![Screenshot (64)](https://user-images.githubusercontent.com/104861548/166552000-f4692438-f15a-433a-8fc6-d3c05fc2d5f9.png)

### Issue Reproduction

1. I go into the phone
2. go to twitter app
3. it gives error

### Evidence

![Screenshot (64)](https://user-images.githubusercontent.com/104861548/166551959-98cca14c-4f

[2022-05-03 19:52] #747 closed

[2022-05-04 01:36] Artistshawn opened #748 "Bug: Failing to Fetch Identifier"
"Failed to fetch identifier from phone number [number], error: Cannot read properties of undefined (reading 'identifier')"

My table on the SQL database seems to match, and the config file regarding identifiers seems unchanged. I am using pe-core.

`"database": {`
`    "useIdentifierPrefix": true,`
`    "playerTable": "users",`
`    "identifierColumn": "identifier",`
`    "identifierType": "licens

[2022-05-04 03:12] Artistshawn commented on #748
Found my issue, I needed to enter dashes (`-`) into the number for it to call. Is there a way to not make that a necessity?

[2022-05-04 03:12] #748 closed

[2022-05-04 15:57] younss24 opened #749 "Bug: <bug in the console>"
### Development Issue

Yes

### Phone Version

[1.2.99](https://github.com/project-error/npwd/releases/tag/1.2.99)

### Issue Description

big problem please help, I installed the script and after bugs came (see below)

### Issue Reproduction

1.installation
2. setup
3.test
4. bug

### Evidence

![Capture](https://user-images.githubusercontent.com/104914138/166718912-12a1d32d-4b23-4687-869d-50e5b5

[2022-05-04 17:19] #749 closed

[2022-05-04 17:25] younss24 commented on #749
@Mojito-Fivem pls

[2022-05-05 12:13] hubiton opened #750 "Bug: isPhoneVisible error"
### Development Issue

Unsure

### Phone Version

latest

### Issue Description

when i start esx-npwd and npwd i see isPhoneVisible error

### Issue Reproduction

install both on esx framework server and it pops up in f8

### Evidence

![image](https://user-images.githubusercontent.com/59398659/166920530-2264b7b4-4b84-4a6c-a69e-ca336e499958.png)

[2022-05-06 00:03] #750 closed

[2022-05-06 19:52] itschip commented on #738
@LifeGoal still an issue? Have you tried setting `useIdentifierPrefix` to `true`?

[2022-05-08 13:31] ixhal commented on #698
Hey just wondering the current status on this as I am wanting to use the phone but without the banking app its pretty hard to replace our existing phone, Thanks!

[2022-05-09 01:17] kadins1 opened #752 "Bug: Failed to store phone number"
### Development Issue

Unsure

### Phone Version

Release 1.0

### Issue Description

When starting my server, I get a message that says:
[         script:npwd] [NPWD] [player] [error]: Failed to store phone number in database
[         script:npwd] [NPWD] [player] [error]: UPDATE users SET phone_number = 493-336-1695 WHERE identifier =*********
The stars being my steam hexadecimal
I have went int

[2022-05-09 05:31] TheConwayy commented on #752
I've been having the same issue as well!

[2022-05-09 12:50] xxstreetstylexx commented on #738
Hey all,

same issue here. Take a look into the Docs and figure out that set mysql_connection_string in docs is in other format than in fivem config.

try to transform the fivem connection string to the expected one.

fivem expect server=xxx;database=xxx; (...) like on docs: https://www.connectionstrings.com/mysql/

npwd seems to be expect it in form mysql://user:pass@server/db? (...)

if i change

[2022-05-09 12:58] itschip commented on #738
We should support both. I'll look into it, but good to know that url connection strings works, somwhat. Can you show me the connection string you tried that caused the error, @xxstreetstylexx ?

[2022-05-09 13:08] xxstreetstylexx commented on #738
@itschip

This one dont Work:
set mysql_connection_string "server=127.0.0.01;database=fivem;userid=root;password=<PASSWORDHIDDEN>"

This one dont give any type of issue for NPWD but for oxmysql
set mysql_connection_string "mysql://root@localhost/fivem?charset=utf8mb4&password=<PASSWORDHIDDEN-URIENCODED>"

[      script:oxmysql] Error: Unable to establish a connection to the database!
[      script

[2022-05-10 06:23] itschip commented on #698
@ixhal as soon as the bank resource and microfrontend solution is done, we'll be able to add the bank app.

[2022-05-10 10:51] hellyet commented on #752
+

[2022-05-10 11:40] itschip commented on #752
Either your db config for npwd is wrong, or you're not storing users in your db.

[2022-05-10 11:40] itschip commented on #752
If you're running some 'menu server', and you're not handling players at all, use 'pe-core' to handle it.

[2022-05-10 11:58] hellyet commented on #752
your sql request is wrong!
i replaced line 34741 in [server.js](https://github.com/project-error/screenshot-basic/blob/master/dist/server.js)
```const updateQuery = `INSERT INTO \`${config2.database.playerTable}\`(\`${config2.database.phoneNumberColumn}\`, \`${config2.database.identifierColumn}\`) VALUES (\'?\',\'?\')`;```

[2022-05-10 12:00] itschip commented on #752
What exactly did you change?

[2022-05-10 12:05] hellyet commented on #752
I changerd this line
```const updateQuery = `UPDATE ${config2.database.playerTable} SET ${config2.database.phoneNumberColumn} = ? WHERE ${config2.database.identifierColumn} = ?`;```
to this
```const updateQuery = `INSERT INTO \`${config2.database.playerTable}\`(\`${config2.database.phoneNumberColumn}\`, \`${config2.database.identifierColumn}\`) VALUES (\'${gennedNumber}\',\'${identifier}\')`;```

[2022-05-10 12:07] itschip commented on #752
Yeah, please don't do this. This is not the way to go about it.

Please join the discord and we'll help you there. This is an issue on your side.

[2022-05-10 12:14] hellyet commented on #752
Coudn't find a link

[2022-05-10 12:14] itschip commented on #752
https://projecterror.dev/

[2022-05-10 20:21] kadins1 commented on #752
Alright, thanks everyone for the help!

[2022-05-10 20:21] #752 closed

[2022-05-12 06:16] VacEx0 opened #753 "Enhancement: Dynamically change twitter name and picture based on pre existing framework data."
### Application

Twitter

### Dependency

No

### Feature Description

Add the following exports:
[code]

And the following event:
[code]

***Twitter name and profile picture would be set after loading the player by pulling the info from a database, if the user changes their twitter info from the phone we would update it in the database with the event.***

**Why?**
Some frameworks, such as the one

[2022-05-12 12:57] Racpy commented on #746
I think problem is in cl_controls ?
start to line 48.
I use ESX framework, the latest esx-npwd work fine the as Item in inventory
but when you enter PauseMenu, it will break the as Item function.
example: The phone is not in inventory and should not be able to be toggle on, but you can still toggle on after you enter PauseMenu and close.

[2022-05-12 20:43] itschip commented on #753
We'll look into a solution for this, and update the issue as soon as we have something.

[2022-05-12 23:17] VacEx0 commented on #753
Sounds good, thanks!

[2022-05-12 23:30] VacEx0 commented on #713
Dont know why the discussion stopped here, I'd love to see a "Dark Web" type app myself.

• I think similar to twitter you should be able to set it to all, mentions only, or none for the notifications.
• If by "joining of groups" you mean entering a secret chat. I think it would instead be interesting to have one central public chat like twitter where everyone can see every message in there. Bonus

[2022-05-13 06:36] DodgeCZE opened #754 "Bug: Still changing phone numbers and can't save phone number to the database."
### Development Issue

Yes

### Phone Version

Latest

### Issue Description

Yesterday I Installed NPWD, everything works perfectly but when I restarted server It gives me error that "It failed to save number to the database' and then it will change the phone number. Before I have installed GCphone (Zap-Hosting ESX RP SERVER) and I literally don't know what to do with that so please help me :).

[2022-05-13 09:51] #754 closed

[2022-05-13 10:03] Oldarorn opened #755 "Enhancement: Escaped characters"
### Application

Messages

### Dependency

No

### Feature Description

As I don't really know how is it called, I'll try to be clear :

Is it possible to integrate \n \r and all escaped regex characters in NPWD ? I think it could be useful to use it to give a better format to our messages for example

### References

_No response_

[2022-05-14 15:52] IamLation opened #756 "Light mode issues"
### Development Issue

Yes

### Phone Version

1.2.99

### Issue Description

On light mode, certain phone features are not updating correctly to make it properly usable. In the attached image(s) you can see the calculator app still utilizes a white background & fonts so numbers/buttons are not seen. In the second attachment is a picture of the browser app & the URL font color not updating but rat

[2022-05-14 15:58] IamLation opened #757 "No audio/voice on phone calls"
### Development Issue

Unsure

### Phone Version

1.2.99

### Issue Description

When attempting to make a phone call, it works all fine & dandy until the receiver answers & neither of us can hear/speak on both ends of the call. No errors are received. Also using pma-voice of course.

### Issue Reproduction

1. Open the phone
2. Make a call
3. Try to speak

### Evidence

https://streamable.com/tso

[2022-05-14 16:00] Mojito-Fivem commented on #756
@itschip tagging chip because he loves light theme

[2022-05-14 22:16] itschip commented on #756
shit.

[2022-05-16 18:52] DarinBeard commented on #743
If you are comfortable messing in the code, in server.js search for generateUsNumber and you can change how it generates the number there. I modified it to be only 7 digits and formatted it nnn-nnnn instead of the 10 digit. That worked for us. But I wouldn't mess with it if you aren't comfortable with it.

[2022-05-16 20:00] Mojito-Fivem commented on #743
[This](https://github.com/project-error/npwd/blob/8bec2f254dc57f18f9964df60538df0db2446124/resources/server/misc/generateUniquePhoneNumber.ts#L27) Is where we handle generating numbers. download the source, make your changes and build. *do not* edit your bundle files

[2022-05-17 16:23] v4mp76 opened #759 "error with phone"
### Development Issue

No

### Phone Version

![image](https://user-images.githubusercontent.com/101667551/168860763-335f6127-bec5-4052-af78-39defa3f6bbf.png)

### Issue Description

Hello i have this issue in my console

### Issue Reproduction

I have this error in console

### Evidence

_No response_

[2022-05-17 19:50] Mojito-Fivem commented on #756
Should be fixed on develop 🙂

[2022-05-17 19:50] #756 closed

[2022-05-17 23:40] Spykespy opened #761 "Enhancement: matchmaker vs database"
### Application

Matchmaker

### Dependency

No

### Feature Description

Hello,

Please give us an option to control how much crap gets thrown into the database. I love logging, but putting every single matchmaker view into a database is just a bit much.

![image](https://user-images.githubusercontent.com/40208312/168928788-2391f7cf-5c5d-4f4f-a4b4-6162ef4b1546.png)

![image](https://user-images.g

[2022-05-18 08:14] itschip commented on #761
Thanks for the report. We'll look into it.

[2022-05-19 17:19] #744 closed

[2022-05-22 15:01] Deniel00 opened #763 "Bug: twitter profile duplication"
### Development Issue

No

### Phone Version

1.2.95

### Issue Description

When want update Twitter profile name, script duplicate profile.
_(i'm geting more information about this.)_

### Issue Reproduction

1. Probably change name in Twitter app

### Evidence

![kép](https://user-images.githubusercontent.com/12788940/169701642-09f9f5a6-f02f-49f8-8a85-21213ff560ef.png)

[2022-05-22 16:04] Rav3n95 commented on #759
Same here, using esx_multichar

[2022-05-22 18:58] Deniel00 commented on #763
I'm wrote bad version, correct: 1.2.98

[2022-05-22 19:03] itschip commented on #759
Can I see your config.json and your database columns for the 'users' table?

[2022-05-22 20:12] Rav3n95 commented on #759
Its happening because im using esx_multicharacter by Liden. So Char1: added before identifire.

Thing is was working before, even esx_npwd drops error:
No such export to npwd:newPlayer

[2022-05-22 20:14] Rav3n95 commented on #759
![image](https://user-images.githubusercontent.com/69343477/169713997-e3ab7481-d356-4c9e-85d5-65e8b6bdbfa6.png)

[2022-05-22 20:16] Rav3n95 commented on #759
![image](https://user-images.githubusercontent.com/69343477/169714108-62712c48-4576-4fc1-8ca0-8d88bd913e58.png)

[2022-05-22 20:47] itschip commented on #759
@Rav3n95 set 'useResourceIntegration' to 'true'

[2022-05-22 21:18] Rav3n95 commented on #759
Fixed

[2022-05-22 21:28] itschip commented on #759
@v4mp76 make sure you do the same.

[2022-05-22 21:28] #759 closed

[2022-05-22 21:28] Kingollie2552 opened #764 "Enhancement: Video Calling"
### Application

Other

### Dependency

No

### Feature Description

A video call system would be really nice.
An option to call the user and be able to see what they are doing and hear them at same time

### References

[perhaps something similiar to this](https://youtu.be/nMXn6R1HYV8)

[2022-05-25 10:32] wowjeeez opened #765 "Enhancement: Custom apps that emit events when opened"
### Application

Other

### Dependency

No

### Feature Description

A simple config option that would allow users to add custom apps to the phone, without writing actual React code (quick police call to location etc).
If a custom app is clicked, it should just emit the event specified in the config, and the rest is up to the user.

### References

I would imagine a config like this:
[code]

[2022-05-25 12:16] baillianalexandre opened #766 "Info bar appear when posting photos on twitter"
### Development Issue

Yes

### Phone Version

https://github.com/project-error/npwd/releases/tag/1.2.99

### Issue Description

The info bar is always showing when I'm posting a photo on twitter

### Issue Reproduction

Take a photo from ur character's face, post it on twitter

### Evidence

https://i.imgur.com/2NOMXrm.jpg

[2022-05-26 18:57] TOOmas10 opened #767 "Bug : Couldn't start server.js"
### Development Issue

Unsure

### Phone Version

The last

### Issue Description

Hi, my problem is that when I start the script I have an error that says the server.js couldn't start.

### Issue Reproduction

Error loading script resources/dist/server/server.js in resource npwd: ReferenceError: module is not defined
stack:
    ReferenceError: module is not defined
  at @npwd/resources/dist/serve

[2022-05-26 19:00] #767 closed

[2022-05-27 02:46] CashTrouble commented on #498
how did you fix it?

[2022-05-27 20:43] sadoj-kuro opened #768 "Adding option to delete message history and phone history"
### Application

Messages

### Dependency

No

### Feature Description

The idea would be to add an option to be able to delete conversations by message on the phone as well as calls made

### References

_No response_

[2022-05-27 21:11] #768 closed

[2022-05-30 16:26] UnaiAhedo commented on #757
I'm having the same problem, the voice chat and radio (pma-voice and rp-radio for pma) work great, but when making the call, I got no sound. Also no errors in server/client console.

[2022-05-30 20:25] itschip commented on #757
Will look into it.

[2022-05-31 22:37] UnaiAhedo commented on #757
Nevermind, in my case it's that I'm dumb and forgot to install the [esx_npwd](https://github.com/overextended/esx-npwd), try installing that and check it again @IamLation.

And sorry for the inconvenience @itschip.

[2022-06-01 13:24] IamLation commented on #757
Hey, yes I just confirmed I have installed & started esx-npwd. Issue still persists.

[2022-06-02 12:50] itschip commented on #766
I am unable to reproduce it.

[2022-06-02 12:56] itschip commented on #746
@DutchMods Can you confirm that this is still an issue with 1.3.1?

[2022-06-02 12:56] itschip commented on #715
@csrpfivem Can check if this is still an issue with 1.3.1

[2022-06-02 12:57] itschip commented on #766
@baillianalexandre You can test 1.3.1 and see if it still occurs.

[2022-06-03 08:55] TonybynMp4 commented on #649
Now that #476 is fixed (supposedly?) Do you think you could think about it? @Mojito-Fivem

[2022-06-03 17:38] itschip commented on #755
Fixed in 1667ead288ac056cc7281b58fbefb249a532b227

[2022-06-03 17:38] #755 closed

[2022-06-03 17:39] itschip commented on #719
@GeerdoDaGr8 Can you test this on the last release?

[2022-06-04 01:18] menkzy opened #771 "Enhancement: Anon call toggle in startPhoneCall export"
### Application

Dialer

### Dependency

No

### Feature Description

Would be nice to be able to have an option to call anonymously with the startPhoneCall export. This can help make payphones useful and allow server devs be able to create an item that gives allows you to use the anon feature.

You could also have an option like emitMessage where it has the senders number.
If the toggle `isAnon`

[2022-06-08 01:13] JoeIsBad opened #774 "Cell Provider Capitalization"
Development Issue
Unsure

Phone Version
1.3.1

Issue Description
When attempting to change the cell provider's name in the top right-hand corner of the phone it automatically makes all the letters capitalized, regardless of how you type it in the code.

Issue Reproduction
N/A
![unknown](https://user-images.githubusercontent.com/42517059/172510139-f9d99b30-6494-4474-8f02-41fe0bf86c9c.png)

[2022-06-08 21:38] Cyril-Beeckman commented on #757
Update pma-voice, this fix the issue for me

[2022-06-08 21:39] itschip commented on #757
Sounds about right. I looked through the docs now and we seem to up-to-date on our side on how we're integrating with pma-voice.

[2022-06-09 22:52] dochardi commented on #757
Hello Wie use the last version of pma-voice and the voice not work how we can fix it

[2022-06-10 02:25] #774 closed

[2022-06-10 16:26] anes66 commented on #493
any news about this

[2022-06-12 19:11] itschip opened #780 "Bug: Call bug - npwd:startPhoneCall export"
### Development Issue

Unsure

### Phone Version

Release version: unknown. Probably >1.2.98

### Issue Description

 ## Following error
[code]

[code]

### Result
`cb(serverRes) no function cb`

### Issue Reproduction

When calling
[code]

[code]

[Video link](https://medal.tv/games/gta-v/clips/ofAiUKPqFUucA/d1337MAg1jyV?invite=cr-MSxrUVAsMjYxMDA2NTMs)

[Video link 2](https://medal.tv/games/gta-v

[2022-06-12 19:13] Mojito-Fivem commented on #780
[code]
and this means? Do we have any context about OP's `data` here?

[2022-06-12 19:18] TechDennis commented on #780
[code]

[2022-06-12 19:19] TechDennis commented on #780
![image](https://user-images.githubusercontent.com/107115514/173249734-bd2fa7e0-8fb1-4b8c-8ab6-b58b5bb206c5.png)

[2022-06-13 23:56] izMystic opened #781 "useResourceIntegration"
### Development Issue

No

### Phone Version

1.3.1

### Issue Description

When useResourceIntegration is set to true the phone still expects there to be a user table, phone number column, etc

### Issue Reproduction

1. put useResourceIntegration to true
2. errors come in console about there not being a user's table

### Evidence

![Screenshot_20220613-195627_Microsoft Remote Desktop](https://us

[2022-06-14 09:34] Xcker8 opened #782 "I hope it supports altv"
### Application

Other

### Dependency

Yes

### Feature Description

I hope it supports altv

### References

_No response_

[2022-06-14 09:39] Mojito-Fivem commented on #782
It does not

[2022-06-14 09:39] #782 closed

[2022-06-14 10:37] Atreatis opened #783 "Bug: no such export newPlayer"
### Development Issue

Unsure

### Phone Version

1.3.1

### Issue Description

However regarding this issue:
Load order is fine
[code]
config.json is fine:
[code]
And provides me the following error:
[code]
Also the error `No such expoort setPhoneDisabled in resource npwd` pops up in console.

When I set `"useResourceIntegration": true,` to `"useResourceIntegration": false,` it works and other aw

[2022-06-17 03:56] #513 closed

[2022-06-17 03:56] #494 closed

[2022-06-17 03:56] #521 closed

[2022-06-17 03:56] #456 closed

[2022-06-17 03:56] #479 closed

[2022-06-17 03:56] #628 closed

[2022-06-17 03:56] #607 closed

[2022-06-17 03:56] #502 closed

[2022-06-17 03:56] #610 closed

[2022-06-17 03:56] #640 closed

[2022-06-17 03:56] #611 closed

[2022-06-17 03:56] #650 closed

[2022-06-17 03:56] #654 closed

[2022-06-17 03:56] #657 closed

[2022-06-22 03:52] Missladee opened #786 "Enhancement: bank app"
### Application

Other

### Dependency

Yes

### Feature Description

I love the phone it is amazing, but something I feel it is lacking and I would love to see as an app is Banking App. A feature where we can see our account, current money, transfer money ect. Doesn't have to be super fancy but would be very useful. As many other phones have this and many people depend on it.

Thank you for takin

[2022-06-24 11:18] itschip commented on #781
Yes, we still expect a user table. The only difference is that 'useResourceIntegration' exposes a export (newPlayer) to get initial information about the player.

[2022-06-24 11:19] itschip commented on #786
This is being worked on.

[2022-06-24 11:20] itschip commented on #783
@Atreatis Make sure you ensure 'qb-npwd' before 'npwd' and set 'useResourceIntegration' to true.

[2022-06-24 16:19] ItzTrivial opened #792 "Bug: Script fails to execute factory reset on the phone"
### Development Issue

Unsure

### Phone Version

master-branch

### Issue Description

When going to the settings on the phone and trying to factory reset the phone there is an error in the console. The animation of the ped holding the phone is still playing and the nui is still focused on the phone, the player being unable to punch etc.

### Issue Reproduction

1 - Opening Phone
2 - Settings
3 -

[2022-06-25 04:32] kylemcshea commented on #757
Having slightly the same issue on my end.
Setup - **esx-npwd**, **pma-voice**(connected to external mumble server) + npwd of course.

Several community members have voice calls that drop but with specific situations.
I will send some bug reports here to add further information.

"when in a making call if you look at a tweet it bugs you and you cant hang up"
"Phone calls aren't always consistent wi

[2022-06-25 16:00] Dejvi1 opened #793 "Bug: phone number doesnt create on new character"
### Development Issue

Yes

### Phone Version

newest downloaded

### Issue Description

Im using legacy version and phone wont create phone number  value is null in users
I have esx_npwd resource and on connect its giving error on missing export in extended

### Issue Reproduction

1. i did installation as it was written on github
2. on esx 1.2 its working without any error
3. i tried many times

[2022-06-25 16:21] Mojito-Fivem commented on #792
Appears to be caused by this, since our atom has a default of null when we reset it gets assigned null instead of the default. https://github.com/project-error/npwd/blob/e16b533fa8688bf8d1ad1f65c601274771ba02e1/phone/src/apps/settings/state/settings.state.ts#L51-L55

[2022-06-25 16:22] boringwolf opened #794 "Bug: database error. maybe mariadb version not compatible?"
### Development Issue

Unsure

### Phone Version

1.2.99

### Issue Description

I got this error when start the server.

[code]

and my mysql version
[code]

### Issue Reproduction

1. Use txAdmin Ox Base Template to create a Server
2. Start The Server
3. see this error
4. check the database config and permission.
5. restart the server
6. see error

### Evidence

_No response_

[2022-06-25 16:27] Mojito-Fivem commented on #794
This isn't an issue, either your password is incorrect or your password contains illegal characters

[2022-06-25 16:31] Mojito-Fivem commented on #792
Fixed on develop branch 🙂

[2022-06-25 16:31] #792 closed

[2022-06-25 16:38] Mojito-Fivem commented on #780
Fixed on develop branch 🙂

[2022-06-25 16:38] #780 closed

[2022-06-25 16:47] Mojito-Fivem commented on #793
ESX is supposed to generate these numbers if I'm not mistaken

[2022-06-26 05:23] Dejvi1 commented on #793
yep it should automatically generate them on new registration but instead of it it throws error with update phone_number like screenshot shows

[2022-06-26 19:01] itschip commented on #793
I guess your npwd config.json is has the wrong configuration.

[2022-06-26 21:32] Dejvi1 commented on #793
![image](https://user-images.githubusercontent.com/58938630/175834525-412140af-7e44-4389-ac77-8f49928196b1.png)

[2022-06-26 21:41] itschip commented on #793
@Dejvi1 if you're using 'esx-npwd' as you mentioned, you'll need to set 'useResourceIntegration' to `true`.

[2022-06-27 23:01] frazz1234 opened #795 "Bug: setPhoneDisabled export behavior"
### Development Issue

No

### Phone Version

last one

### Issue Description

exports.npwd:setPhoneDisabled(true)

is enable correctly, but when you press ESX, the phone can be use again whitout trouble .

### Issue Reproduction

exports.npwd:setPhoneDisabled(true) after ESC and you can use

### Evidence

_No response_

[2022-06-28 11:43] Mojito-Fivem commented on #795
https://github.com/project-error/npwd/blob/ec573355f27c94cd026641c4c9d43b6dbd3de973/resources/client/cl_controls.lua#L48-L70
This lua code is causing this behavior, confirmed repro

[2022-06-29 14:09] #795 closed

[2022-07-01 12:32] Dejvi1 commented on #793
Ok, so issue with number was fixed, but now phone wont open when i join.
There is no error and works only when i restart resource..
I tried to put it under all resources in cfg also under extended etc but wont open until i restart it..
And after reconnect also wont open if i dont restart it

[2022-07-03 10:00] itschip commented on #793
Does it open if you try opening the pause menu first? We seen some issues similar to what you're explaining. It could be something different, but I'd give it a try, just to confirm :)

[2022-07-03 12:45] Dejvi1 commented on #793
oh right it does work after that :O
Is there any way to fix that ?
Also thanks for help mate

[2022-07-03 19:16] DarinBeard opened #797 "Enhancement: endPhoneCall export"
### Application

Other

### Dependency

No

### Feature Description

there is a startPhoneCall export but no endPhoneCall export. I would like to see that added for a thing I am working on. Thanks.

### References

_No response_

[2022-07-04 09:54] itschip commented on #797
@Mojito-Fivem sounds like something that would be easy enough to add, right?

[2022-07-04 09:55] itschip commented on #793
@Dejvi1 We already have a fix for it. It'll be in the next release..

[2022-07-05 06:10] Demigod916 opened #798 "Enhancement: Custom Identifiers"
### Application

Other

### Dependency

No

### Feature Description

A configuration to use character identifiers outside of the normal things returned by GetPlayerIdentifiers(). my server for example uses an incremented database value as our character ids as a reference to everything in the characters user table to easily differentiate characters without having to do weird stuff with steam ids or

[2022-07-06 10:22] Mojito-Fivem commented on #798
We support this already, for example "qb-npwd" uses `citizenid` as its identifier.

[2022-07-06 10:58] Mojito-Fivem commented on #797
Added with dfb33d5de1e5421b64537be7d435cc2b35a7e45c

[2022-07-06 10:58] #797 closed

[2022-07-06 11:19] DarinBeard commented on #771
I agree

[2022-07-06 15:01] Kraleemil commented on #771
This could be cool maybe in the settings where you can toggle ano calls

[2022-07-07 01:26] blastboy opened #801 "Bug: Photo could not be saved :("
### Development Issue

No

### Phone Version

1.3.2

### Issue Description

When i make a photo with the phone i get this message:
Photo could not be saved :(

But nowhere i can see a error log or something.
My public api client id is in my server.cfg
Using a custom core based on QB -> "useResourceIntegration": false

Everything else works on the phone.

### Issue Reproduction

Its always there at

[2022-07-07 01:33] blastboy commented on #801
After installing the needed Screenshot Basic again it finally worked.... dont ask me how xD

[2022-07-07 01:33] #801 closed

[2022-07-07 06:35] Demigod916 commented on #798
I see. I guess my issue specifically is that i have citizen IDs built into a heavily modified ESX. And the citizen ID doesnt seem to be an option for the esx version currently. Which makes sense since its not in esx by default

[2022-07-07 06:39] #699 closed

[2022-07-07 16:05] #700 closed

[2022-07-09 05:26] frazz1234 opened #802 "Bug: onMessage"
### Development Issue

Yes

### Phone Version

Last one

### Issue Description

Im using this export :

[code]

![20220709012344_1](https://user-images.githubusercontent.com/66176776/178092885-8850a8db-1cb6-4209-a73e-b8530baeb763.jpg)

direct after receive this message in my phone i got this error :
![20220709012406_1](https://user-images.githubusercontent.com/66176776/178092887-f29aec0a-489f-4cea

[2022-07-09 05:28] frazz1234 commented on #802
this error still going  if i press on the empty message

[2022-07-09 10:30] Mojito-Fivem commented on #802
can you provide a framework agnostic reproduction since none of our developers are using ESX

[2022-07-09 10:31] #798 closed

[2022-07-09 10:32] #794 closed

[2022-07-09 10:32] #793 closed

[2022-07-09 10:33] #783 closed

[2022-07-09 10:34] #781 closed

[2022-07-09 10:34] #766 closed

[2022-07-09 10:38] Mojito-Fivem commented on #649
If `unloadPlayer` is working then people could implement this themselves, it's not something we can add directly to NPWD

[2022-07-09 10:38] #649 closed

[2022-07-09 10:38] #664 closed

[2022-07-09 10:38] #675 closed

[2022-07-09 10:39] #698 closed

[2022-07-09 10:40] #715 closed

[2022-07-09 10:43] #742 closed

[2022-07-09 10:43] #743 closed

[2022-07-09 16:08] skrilax91 opened #803 "Bug: Create new conversation with contact create a conversation with me"
### Development Issue

Yes

### Phone Version

phone version 1.2.99
commit 14248fed9dcf3cde04eac978ddc914b27c6da402

### Issue Description

When i create a conversation with a friend contact, a conversation is created with our 2 numero (verified in DB) but tyhe conversation created take my phone number for name, and when i send message my friend receive it but can't close notification.
Also, he do

[2022-07-09 17:11] frazz1234 commented on #802
Im using the legacy one, https://github.com/esx-framework/esx-legacy

[2022-07-09 18:27] itschip commented on #802
Try `exports.npwd:getPhoneNumber(police[i].source)`

[2022-07-10 20:22] frazz1234 commented on #803
I will try it today.

I see an other bug, I'm using ESX legacy like I told you and ox inventory , I have everything set up good.

But if I'm connect and I don't have the phone I can receive notifications from my phone when someone call. I can't answer.

[2022-07-10 20:22] frazz1234 commented on #802
I will try it today.

I see an other bug, I'm using ESX legacy like I told you and ox inventory , I have everything set up good.

But if I'm connect and I don't have the phone I can receive notifications from my phone when someone call. I can't answer.

[2022-07-12 09:35] #529 closed

[2022-07-12 14:59] #709 closed

[2022-07-12 21:28] Lxk3y opened #804 "Enhancement: Call Holding"
### Application

Other

### Dependency

No

### Feature Description

After seeing a recent commit pertaining to hooking onto phone calls and 'doing something' with them ourselves,, i think it would nice to see the ability to put calls on hold be implemented.

Call holding is a widely used feature in the real world allowing you to essentially suspend a call, usually whilst having some music play to

[2022-07-19 12:50] SamShanks1 commented on #802
@frazz1234 did chips change fix the erro?

[2022-07-21 11:18] EdenDelire opened #807 "Enhancement: More voice utilisation"
### Applications
Phone & Messages

### Dependency
No

### Feature Description
It would be cool to see some advanced features related to the voice.
I'd like to see, for example, a voice mail system for the Phone app or vocal messages for the Messages app.

### References
No response

[2022-07-22 01:02] GlitchWeesocks opened #808 "Cant take pictures on camera or update twitter version"
### Development Issue

Unsure

### Phone Version

I don't know the exact version, it is the most recent one

### Issue Description

It will not let me take pictures with my camera, when I get into the app there is just a +, if I click it nothing happens.
When I go onto twitter it tells me to make a name, when I try to make one it fails, Update: I also tried to open the marketplace app and it shows

[2022-07-23 13:04] Jafool opened #809 "Enhancement: Browsing/Using apps on call"
### Application

Other

### Dependency

No

### Feature Description

Hey guys!

This feature would simply put allow users to browse their phone and use other apps while on a call.
To return to the call information screen (where the hang-up button is etc) you could add some sort of button or interface somewhere, I'm not actually sure what'd be the best way to implement this.
Maybe just a wide "pill

[2022-07-23 13:20] Jafool opened #810 "Enhancement: In-call muting"
### Application

Other

### Dependency

No

### Feature Description

Hey guys! Here's another issue.

This feature would be the ability to temporarily mute your ongoing phone call.
For instance, consider the following example;

1. You're speaking on a phone call
2. You want to speak to someone in your proximity for a moment
3. You tell your phone call interlocutor to shut up and hold on for a seco

[2022-07-24 09:28] Mojito-Fivem commented on #808
With the latest versions of NPWD I can't reproduce this

[2022-07-25 19:45] GlitchWeesocks commented on #808
What do I do then?

[2022-07-26 17:47] #703 closed

[2022-07-29 08:57] ItzTrivial opened #814 "Message while calling"
### Development Issue

Yes

### Phone Version

1.3.3 Master

### Issue Description

If there is a notification for a message coming down from the top while calling someone Im able to press on it. It brings me to the messages. At this point im still hearing the sound of the phone calling someone, but I cant return to the call, since Im locked in the messages app. I cant go back to the home screen a

[2022-07-29 09:29] itschip commented on #814
:O I can see this happening. Thanks for the report. We'll look into it.

[2022-07-29 14:46] ItzTrivial commented on #802
Hello, Ive already wrote something on PE discord, but I wanted to make it official here too:
Thats my snippet and I know the error. The problem here is, that if you are police yourself you are receiving the message you send to the police yourself. So if you are texting a message to 911 not only will the message appear in the 911 chat, but you will send YOURSELF a message with that. Clicking on one

[2022-07-29 20:24] #728 closed

[2022-07-29 22:54] BackTheBlueNetwrok opened #815 "Bug: nothing pops up"
### Development Issue

Unsure

### Phone Version

latest

### Issue Description

i can open the phone but nothing pops up

### Issue Reproduction

i followed the tutorial

### Evidence

_No response_

[2022-07-30 00:00] ItzTrivial opened #816 "Message conversation bug"
### Development Issue

Yes

### Phone Version

1.3.3 master

### Issue Description

When opening the contacts and pressing on the message button while a chat with the contact Im trying to message already exists it tells me with a pop-up message, that the chat already exists. In the messages-app to which it directs you when trying to send a message I cant open the chat up with the contact I just tr

[2022-07-30 17:15] ItzTrivial opened #817 "Time on API text-replies wrong"
### Development Issue

Unsure

### Phone Version

1.3.3 master

### Issue Description

When replying to a player with the emitMessage API the phone doesnt show the correct time the message was received.

### Issue Reproduction

-write code to emit message automatically
-check the sent time on the bottom left
-wrong time

### Evidence

![image](https://user-images.githubusercontent.com/66124070/181

[2022-07-30 18:32] itschip commented on #817
Most likely because we're sending the data from the export directly to the client, instead of waiting for it to be stored, and fetch it again with the 'createdAt' column.

[2022-07-30 18:34] itschip commented on #816
Does it navigate from the contact app directly to the conversation, or do get to the modal where you have input the number again?

[2022-07-30 18:34] itschip commented on #815
@BackTheBlueNetwrok Any server/client errors or messages? We can't help without more info that this.

[2022-07-30 21:50] xXxTHELAWxXx97 opened #818 "Enhancement: (Imgur) Photo app preformance enhancements"
### Application

Camera

### Dependency

No

### Feature Description

# Problem
Photos take forever to load if you have too many of them causing a lag spike with the phone, sometimes even freezing it outright.

# Possible Solutions
1. Select multiple photos to be marked for deletion
2. Have it only generate a certain amount of photos when you first launch the camera app (~10) then have a button fo

[2022-07-31 20:42] ItzTrivial commented on #816
It sends you from the contact app to the screen right here:
![image](https://user-images.githubusercontent.com/66124070/182044576-ba989332-0b89-41e7-af24-3a49b98b1421.png)
After clicking on send it sends you to the messages main screen showing up the error from the bottom

[2022-07-31 21:26] itschip commented on #816
Alright, this should be an easy fix. Thanks.

[2022-08-02 15:08] itschip commented on #817
Should be fixed in https://github.com/project-error/npwd/commit/7b4dd852420bd9735fc89198186fafc88d44a178

[2022-08-03 03:44] #697 closed

[2022-08-05 14:02] TonybynMp4 opened #820 "Enhancement: Selfies"
### Application

Camera

### Dependency

No

### Feature Description

Add more features to the selfie thing, in the base gta selfie camera you can move the phone left / right / up / down or rotate a bit, change the character's expression and i think it'd be cool. you know like a wise man once said:

### References

go to singleplayer and use the phone's selfie camera bro

[2022-08-06 17:04] itschip commented on #816
@ItzTrivial fixed in develop.

[2022-08-06 17:04] #815 closed

[2022-08-07 23:50] TonybynMp4 opened #822 "Enhancement: Message deletion"
### Application

Messages

### Dependency

No

### Feature Description

Plz add the possibility to remove embedded messages (that you sent) and add a thing to select multiple messages to remove.

### References

_No response_

[2022-08-08 07:00] randomentity93 opened #823 "Bug: cannot read properties of null (reading 'getPhoneNumber)"
### Development Issue

Unsure

### Phone Version

1.3.7

### Issue Description

[         script:npwd] SCRIPT ERROR in event `npwd:getCredentials': TypeError: Cannot read properties of null (reading 'getPhoneNumber')
[         script:npwd] > <unknown> (@npwd/resources/dist/server/server.js:38798)

I have attached a screenshot of my config.json below

![image](https://user-images.githubusercontent.

[2022-08-08 14:27] Sarbatore commented on #746
I have this issue also

[2022-08-08 22:32] TonybynMp4 commented on #583
@itschip 🔫 make !

[2022-08-08 22:35] itschip commented on #746
The screenshot provided by @DutchMods in the first comment is not an issue. You most likely have some server errors.

[2022-08-08 22:38] TonybynMp4 opened #824 "Bug: help message disappear too slow"
### Development Issue

No, Blame Chip

### Phone Version

latest develop bruh

### Issue Description

when taking a pic the help text doesn't disappear and therefore appears on the photo.

### Issue Reproduction

cmon i don't need to tell you how to take a photo

### Evidence

https://i.imgur.com/yh159Ct.jpg
https://i.imgur.com/MUmzHE5.jpg
https://i.imgur.com/RV8k0BY.jpg

[2022-08-09 01:17] itschip commented on #823
@randomentity93 Can I see a full data record in the users table?

[2022-08-09 01:29] #816 closed

[2022-08-09 01:29] #817 closed

[2022-08-09 04:51] randomentity93 commented on #823
esx-npwd was missing, I have installed it, appears to be working fine now.

[2022-08-09 04:51] #823 closed

[2022-08-09 16:39] itschip commented on #824
I am actually unable to reproduce this :/

[2022-08-09 17:11] itschip commented on #822
Fixed in develop

[2022-08-09 17:43] itschip commented on #764
This is planned.

[2022-08-09 17:58] #814 closed

[2022-08-09 18:44] TonybynMp4 commented on #824
;c

[2022-08-09 20:03] TonybynMp4 commented on #822
u sure 'bout that bud' ?

[2022-08-09 20:08] TonybynMp4 commented on #824
looks very much like it's lag, it doesn't happen everytime, but very very often (in like 15 pics it didn't happen only once so..)
Might want to add a key to hide the text manually & pump the delay up a bit like 500ms or even 1 sec something like that.

[2022-08-09 20:09] TonybynMp4 commented on #824
also a confirmation popup when deleting photos might be a good idea
maybe even a select all / select multiple to make it easier c:

[2022-08-10 07:07] itschip commented on #822
@TonybynMp4 In 1.3.8

[2022-08-10 07:07] #822 closed

[2022-08-11 08:35] itschip commented on #713
fuck off bot

[2022-08-11 13:27] Mojito-Fivem commented on #810
Should be working on developer with bac15c2a8c136fa9a1557ddd3157606f63d63910

[2022-08-11 23:21] ItzTrivial opened #825 "When calling call message permanent"
### Development Issue

Unsure

### Phone Version

1.2.99

### Issue Description

When calling a person it shows a calling message on the bottom right. My mate stopped the call, but the message remains permantely until I opened the phone

### Issue Reproduction

- get call
- person who calls ends call without the receiver taking it
- message on the bottom right is permanent

### Evidence

![image](

[2022-08-16 14:12] qalle-git opened #826 "Enhancement: Choose Caller Number or Label"
### Application

Dialer

### Dependency

No

### Feature Description

Being able to choose the label in ctx.forward

Service calls shouldn't be received from the person calling rather say like "Work Call" or "LSPD Call Handler".

Example how it would look in code.
[code]

[code]

### References

_No response_

[2022-08-16 14:16] qalle-git opened #827 "Enhancement: Save Settings on Identifier"
### Application

Settings

### Dependency

No

### Feature Description

I think having the settings connected to the identifier would help a lot.

Simplest and easiest way of doing this is probably just making the key somehow connected with the identifier.

[code]

### References

_No response_

[2022-08-17 00:14] WEEZOOKARP commented on #713
Lol

[2022-08-17 00:14] TonybynMp4 opened #829 "Enhancement: photo embed"
### Application

Messages

### Dependency

No

### Feature Description

Add a copy link and add to galery buttons in the ... of the photo embed
also GIVE US THE FUCKING CLICK TO PREVIEW SMOL PHOTO SUCKS

### References

_No response_

[2022-08-17 00:16] WEEZOOKARP commented on #493
Yeah cell service would be a nice touch, you wouldn't be able to call someone on your phone from the doomsday bunkers for instance.

[2022-08-17 00:18] WEEZOOKARP commented on #829
I think what the op wants is the ability to grab the image link, easiest way to do this would be through imgur or discord similarly to qb-phone, also some sort of preview image thing so if you click an image on Twitter it fills the screen or smth. Also it seems that op might need some anger management or smth.

[2022-08-17 00:21] TonybynMp4 commented on #829
i probably do tbh

[2022-08-17 00:22] TonybynMp4 commented on #829
grabbing the link would be pretty easy since you display the image using said link

[2022-08-17 00:27] menkzy commented on #829
Grabbing the link.. you mean this right? ![this right?](https://i.imgur.com/QAwUxAL.gif)

that would copy [this](https://i.projecterror.dev/RGHwue22cSSnroeWNASMz5)

[2022-08-17 00:27] TonybynMp4 commented on #829
yeah basically

[2022-08-17 00:36] menkzy commented on #829
already a thing bozo

[2022-08-17 00:40] TonybynMp4 commented on #829
no bozo

[2022-08-17 17:46] Demigod916 opened #830 "Bug: Phone text fields"
### Development Issue

No

### Phone Version

1.4.0

### Issue Description

when exiting the phone while some text fields are focused, the game will think that you have left click held down until you click again. seems like the game is out of focus or something.

### Issue Reproduction

1. open phone
2. go to twitter
3. go to twitter profile settings
4. click on one of the text fields for name or

[2022-08-17 17:59] menkzy commented on #830
I can also repro this.
https://github.com/project-error/pe-core

[2022-08-18 16:21] kylemcshea commented on #830
I have this issue as well on my end.

-- Bug Report #1 --
"when u text on ur phone and then pull out ur gun it'll auto fire so something with the text messages on the phone is causing it however when u text and put the phone away get in a car and press left mouse button it'll fix it"

-- Bug Report #2 --
"My weapon will fire on its own as soon as I pull it out after using my phone. I would like so

[2022-08-19 04:55] menkzy commented on #830
Just realised my copy+paste didnt post the correct link.

[2022-08-19 08:44] itschip commented on #830
Thanks for the report :)

[2022-08-19 08:47] #810 closed

[2022-08-19 08:47] #802 closed

[2022-08-19 08:49] itschip commented on #826
I guess the label here would show up as the caller in the notification and call modal?

[2022-08-19 13:00] TonybynMp4 opened #832 "Bug: Retweets"
### Development Issue

Unsure

### Phone Version

latest develop

### Issue Description

When retweeting, it doesn't 'do' anything (at first glance) and kinda freezes the app, new tweets won't show, but if you restart the app it'll show that you retweeted and if you tweeted it'll show that too

### Issue Reproduction

retweet someone, try and send a tweet and it shouldn't show up until you restart

[2022-08-19 18:08] #786 closed

[2022-08-19 20:35] Evolvee1 opened #833 "Server Sided timestamps"
### Application

Messages

### Dependency

No

### Feature Description

All that could be done is to take server time and validate/request it from the client side in order to be written into the database, which would really scale up the phone app in order to be used by servers and people that connect from multiple time zones.

### References

_No response_

[2022-08-20 16:24] mk3ext opened #835 "Bug: Message Validation"
### Development Issue

Yes

### Phone Version

develop

### Issue Description

When creating a new message, you are able to input any text in the field `Search contacts or type number and press enter`, this includes non existing phone numbers, you are then able to send messges to these non existing numbers.

### Issue Reproduction

1. Open your phone
2. Click on messages
3. Press the "+" button
4.

[2022-08-20 16:28] mk3ext opened #836 "Bug: New Contact Validation"
### Development Issue

Yes

### Phone Version

develop

### Issue Description

When creating a new contact, you are able to input any text in the number field, this includes non existing phone numbers, you are then able to send messges to and call these non existing numbers.

### Issue Reproduction

1. Open your phone
2. Open the contacts app
3. Press the "+" button at the bottom right
4. Enter an

[2022-08-20 16:31] qalle-git commented on #836
You should be able to call non-existing numbers, there is a handler for onCall for example services etc.

[2022-08-20 17:09] itschip commented on #713
https://github.com/project-error/npwd/pull/837 PR for darkchat

[2022-08-20 17:17] itschip commented on #753
@VacEx0 is this still an issue or a feature you would like to see?

[2022-08-20 18:26] itschip commented on #761
A "fix" have been pushed to develop. Should hopefully reduce the records by a lot

https://github.com/project-error/npwd/commit/73cc8dd80b62e9ed9d32408ed86555f2ecb46168

[2022-08-20 18:28] itschip commented on #763
@Deniel00 Please see if you can reproduce this issue on 1.5.0

[2022-08-20 18:41] itschip commented on #763
Fixed in https://github.com/project-error/npwd/commit/fbab1480331555046831899672bb64a968797775

[2022-08-20 18:41] #763 closed

[2022-08-20 18:51] itschip commented on #803
Please try and reproduce it with 1.5.0.

[2022-08-20 19:03] itschip commented on #820
You can already move the camera in said directions, and I don't want to bring in unrelated functionality like facial expression. There are resources doing such already.

[2022-08-20 19:03] #820 closed

[2022-08-20 19:04] itschip commented on #808
@GlitchWeesocks Can you try and reproduce this with 1.5.0?

[2022-08-20 19:05] TonybynMp4 commented on #820
can you tho ?

[2022-08-20 19:10] itschip commented on #836
@mk3ext as @qalle-git says, this is intendet to save numbers that are used by the 'onCall/onMessage' export in order to listen to messages/calls

[2022-08-20 19:10] #836 closed

[2022-08-20 19:10] itschip commented on #835
Same as #836

[2022-08-20 19:10] #835 closed

[2022-08-20 19:27] #746 closed

[2022-08-20 19:27] #832 closed

[2022-08-20 19:27] #803 closed

[2022-08-20 19:28] itschip commented on #738
@LifeGoal are you able to reproduce this in 1.5.0?

[2022-08-20 19:32] itschip commented on #830
Fixed in develop

[2022-08-20 19:32] #830 closed

[2022-08-20 19:35] TonybynMp4 opened #838 "Enhancement: Deleting photos confirmation"
### Application

Camera

### Dependency

No

### Feature Description

A confirmation popup when deleting photos might be a good idea
maybe even a select all / select multiple to make it easier c:

### References

_No response_

[2022-08-20 20:08] VacEx0 commented on #753
With the recent implementation of NPWD in the framework I use this has already been somewhat accomplished. However I am sure some other users of NPWD out there may have an arbitrary framework and would possibly like this if it were to be added.

With that being said I do not personally require such a feature any longer, but like I said it could be nice for others out there. Regardless this is alre

[2022-08-21 00:16] #824 closed

[2022-08-21 00:17] #829 closed

[2022-08-21 01:18] qalle-git opened #840 "Bug: Call notification"
### Development Issue

No

### Phone Version

1.5.0

### Issue Description

If you hang up before they've answered the notification still there until you open the phone.

### Issue Reproduction

1. Call someone
2. Hang up before they answer

### Evidence

![image](https://user-images.githubusercontent.com/36276161/185771312-35e5d821-d990-482e-be8a-f9dfe26bf472.png)

[2022-08-21 01:44] TonybynMp4 commented on #832
https://streamable.com/mscc22

[2022-08-21 02:04] TonybynMp4 commented on #820
@itschip https://streamable.com/c7vzrd
das the reference there u go

[2022-08-21 07:30] Deniel00 commented on #763
I'm checked on dev server, seems like its sloved. But today I update on prod server, will be check in 1-2 days.

[2022-08-21 12:22] qalle-git commented on #826
#839

[2022-08-21 12:22] #826 closed

[2022-08-22 08:37] xyzd opened #843 "Enhancement: Disable Default Apps via Config"
### Application

Other

### Dependency

No

### Feature Description

Currently, you are required to modify the NPWD source code and build to disable particular built-in applications.

Given the recent changes to specify external apps via config, it would also be nice to be able to disable built-in applications via config (such as the Match and Browser applications).

This would allow servers to ke

[2022-08-22 13:54] xXJamieXx opened #844 "Bug: Cannot delete photos in gallery"
### Development Issue

Yes

### Phone Version

1.5.1

### Issue Description

When selecting one or more photos to delete and clicking the trash icon, it will show an error in the phone saying "Photo could not be deleted :(" and also an error in the server console which says "[NPWD] [photo] [error]: Failed to delete photos, photoIds is not iterable".

### Issue Reproduction

1. Open camera app
2. C

[2022-08-22 13:55] SamShanks1 commented on #844
Testing it now. Worked yesterday :/

[2022-08-22 14:36] SamShanks1 commented on #844
fixed in latest develop

[2022-08-22 14:47] SamShanks1 commented on #844
fixed in release now

[2022-08-22 14:47] #844 closed

[2022-08-22 22:22] xXJamieXx opened #846 "Bug: Can't select images from camera to use in other apps"
### Development Issue

Yes

### Phone Version

1.5.2

### Issue Description

When trying to choose an image to use in another app (Marketplace for example) there is no way to select the image.

### Issue Reproduction

1. Open app that allows image selection (e.g. Marketplace)
2. Click "Choose a image"
3. Be unable to select an image

### Evidence

https://streamable.com/uuh92q

[2022-08-22 23:52] itschip commented on #846
Fixed 1.5.3

[2022-08-22 23:52] #846 closed

[2022-08-24 03:09] menkzy opened #848 "Enhancement: twitter moderation"
### Application

Twitter

### Dependency

No

### Feature Description

Give admins moderation settings for Twitter, such as deleting tweets/banning players from using twitter if they are malicious and/or posting things they shouldn't be.

These moderation settings can/should be decided via ace permissions to ensure that normal players cannot utilize these tools.

### References

_No response_

[2022-08-24 05:45] itschip commented on #848
I can see us doing this.

[2022-08-26 11:48] jcabala14 opened #851 "Bug: Error when change icons set in Settings App"
### Development Issue

No

### Phone Version

1.5.3

### Issue Description

When you change the icon set from the settings app to NPWD Icons, the system throws the following error when refreshing the phone:

NPWD has encountered an error it was unable to recover from. You will need to reload the NUI window. The error is shown below for developer reference.

Element type is invalid. Received a prom

[2022-08-26 15:42] itschip commented on #851
@jcabala14 Have you added your own iconset, or is this the default set?

[2022-08-26 16:32] jcabala14 commented on #851
Hi @itschip, is the default set, I haven't made any changes

[2022-08-26 19:15] xXJamieXx opened #852 "Enhancement: Confirmation modal for report button"
### Application

Marketplace

### Dependency

No

### Feature Description

A simple message with yes/no buttons to confirm submitting a report for a marketplace or twitter message. We've found that either people don't understand what the report button does/click it by accident/click it for fun and it ends up clogging our Discord channel with reports for messages that are perfectly fine.

The confi

[2022-08-26 20:49] Oldarorn opened #854 "Bug: Darkchat bugs list"
### Development Issue

Yes

### Phone Version

Develop branch

### Issue Description

- [ ]  1. First issue (by Qalle) : Offline members are not fetched in the members list

- [ ]  2. Online members are not fetched either

- [x]  3. Some translations aren't applied stop hardcoding things, you naughty Chip ♥

- [x]  4.  Join UI doesn't close when you click on join, if you don't pay attention you'll

[2022-08-26 20:50] qalle-git commented on #854
Issue 3 and 4 fixed in my PR

https://github.com/project-error/npwd/pull/853

[2022-08-27 15:08] TonybynMp4 opened #856 "Enhancement: twitter clout counter"
### Application

Twitter

### Dependency

No

### Feature Description

Like / RT counter no cap.

### References

_No response_

[2022-08-27 15:09] itschip commented on #856
What does clout mean?

[2022-08-27 15:14] TonybynMp4 commented on #856
temporary fame i think?

[2022-08-27 15:15] TonybynMp4 commented on #856
idk some youngling's word i'm too old to understand

[2022-08-28 17:30] Dennis-NL opened #858 "Enhancement: Mod Message delete option"
### Application

Other

### Dependency

No

### Feature Description

Option for moderators to delete Tweets, Marketplace ads and matchmaking profiles

Now we have to remove them from database.
But it would be much easier to moderate when we have a delete button next to the messages/ads

### References

_No response_

[2022-08-28 17:32] itschip commented on #858
Duplicate of #848

[2022-08-28 17:32] #858 closed

[2022-08-30 00:40] zentroxx opened #860 "Bug: Able to use other UI scripts while on phone"
### Development Issue

No

### Phone Version

1.5.3

### Issue Description

So when the phone is visible you can still use for an example your inventory. Doesn't seem like other UI keys are disabled for other scripts while you have the phone up.

### Issue Reproduction

1. Open up your phone ingame.
2. Hit your inventory key, or use items key.
3. There ya go.

### Evidence

https://streamable.com/

[2022-08-30 01:15] qalle-git commented on #860
Don't think this has anything to do with the phone, isn't it like this with all UI:s?

[2022-08-30 03:44] zentroxx commented on #860
Well, it haven't been a problem with other UI elements? This is the first one I've tested who had problems that the player can still use items and execute other UI elements while the phone is open.

[2022-08-30 03:47] zentroxx commented on #860
I also forgot to mention that I run 1.5.4 instead of 1.5.3 x)

[2022-08-30 13:54] zentroxx commented on #860
It seems like SetNuiFocusKeepInput(true); makes this kind of bug. I have disabled this on my end.

[2022-08-30 14:12] qalle-git commented on #860
You won't be able to walk with the phone open.

[2022-08-30 14:19] zentroxx commented on #860
Yeah, I'd rather not letting the player walk around than letting player accidentally uses his weapon while using the phone.

[2022-08-30 14:25] qalle-git commented on #860
I'm not sure how anyone would accidentally do that, when you're in a input the phone automatically disable all keys.
If you're not in a input you use the mouse to navigate so how would a weapon be picked up?

[2022-08-30 14:40] Mojito-Fivem commented on #860
This only occurs with third party apps that aren't using the exposed text input components from npwd

[2022-08-30 19:31] itschip commented on #753
Thanks bot, you're doing a great job pissing me off.

[2022-08-30 21:06] itschip commented on #860
I believe these controls are disabled, if not, you can just edit the 'controls.lua' file.

[2022-09-01 20:58] 123B3n opened #861 "Bug: Text Notifications Not working"
### Development Issue

Unsure

### Phone Version

1.5.4

### Issue Description

There are no notifications at all when texting contacts, everything else seems to give a notification except text messages. No popup, sound or anything. It's also not updating text messages live if you send to someone whilst having the phone open.

### Issue Reproduction

Send a text message to someone that is live and

[2022-09-01 22:23] xXJamieXx opened #862 "Enhancement: App visibility"
### Application

Other

### Dependency

No

### Feature Description

All apps (built-in and external) should have a visibility property so that they can be toggled on and off per player.

The way I envision this being implemented is for each app to have a defaultVisibility property which is usually set to true by default which can be modified within the source code or by using an export:

`exports

[2022-09-01 22:25] qalle-git commented on #862
This would be great, would make the darkchat more useful, if having a vpn of some kind to show the darkchat app.

[2022-09-04 00:10] TheKronoss commented on #738
I tried using 1.5.4 now, and get the same error, I am using oxmysql

[2022-09-04 00:28] TheKronoss commented on #738
@itschip I can reproduce this issue when using an # in the password it won't work. If I remove the # from the password in the db and in the connection string, everything works fine.

[2022-09-06 20:41] #765 closed

[2022-09-08 17:09] CptNoHand opened #863 "Bug: Can't take pictures"
### Development Issue

Unsure

### Phone Version

1.5.4

### Issue Description

I get an console error if i try to take a picture. The circle starts spinning, but nothing happens.

### Issue Reproduction

Open phone
Go to camera
Take picture
Phone shows up
Circle spinning and a error:

script:npwd Error: Undhandled promise failure: Unexpected token T in JSON at position 0

### Evidence

![error np

[2022-09-08 18:35] itschip commented on #863
@CptNoHand Can I see your config.json file?

[2022-09-08 18:58] CptNoHand commented on #863
![npwd](https://user-images.githubusercontent.com/90973107/189203921-34a94655-ac49-4491-8d22-ac70142f06a9.PNG)
@itschip

[2022-09-08 18:59] CptNoHand commented on #863
i fixed that now, it takes the sceenshot, but it says "picture can't be saved"

[2022-09-08 19:04] itschip commented on #863
@itschip Any server or client errors? And you do have the imgur client id in your *.cfg file?

[2022-09-08 19:05] CptNoHand commented on #863
Yes, i do an no error whatsoever..

[2022-09-08 19:06] itschip commented on #863
@CptNoHand Do you have OUR fork of screenshot-basic?

[2022-09-08 19:10] CptNoHand commented on #863
No used the newest screenshot basic

[2022-09-08 19:13] itschip commented on #863
@CptNoHand Make sure you have this https://github.com/project-error/screenshot-basic

[2022-09-08 19:34] CptNoHand commented on #863
Yes, works now. My bad. thank you.

[2022-09-08 19:34] #863 closed

[2022-09-09 03:11] #719 closed

[2022-09-09 18:49] CptNoHand opened #864 "Bug: No sounds or popup when receiving a message"
### Development Issue

Unsure

### Phone Version

1.5.4

### Issue Description

When someone receives a text message, the phone doesnt show the notification or a sound like it does for Twitter

### Issue Reproduction

Receive a message, you get no notification or sound

### Evidence

_No response_

[2022-09-09 23:59] fkk-cz opened #865 "Bug: Error when uploading photo"
### Development Issue

Yes

### Phone Version

Latest on master

### Issue Description

When attempting to take a picture with the camera, the phone displays the following error: `Create/update request failed.`

Checking the server console shows this:

[code]

Using the correct version of screenshot-basic as well.

### Issue Reproduction

1. Open camera app
2. Attempt to take a picture
3. See erro

[2022-09-10 22:11] bruinp8n opened #867 "Enhancement: Remote Ringtones"
### Application

Other

### Dependency

No

### Feature Description

Hear other peoples phones ring when nearby, this helps with immersion and even individuality if you can make it so they hear your chosen ringtone...

Maybe a step further from this would be speakerphone, or hearing the conversation if really close...

### References

_No response_

[2022-09-11 02:45] fkk-cz commented on #865
Turns out this was caused by a missing reference to `uuid` in tsconfig.json for screenshot-basic.

[2022-09-11 02:45] #865 closed

[2022-09-11 18:15] minipunch commented on #757
using latest pma voice helped me fix this also

[2022-09-13 18:50] TonybynMp4 opened #869 "Bug: missing translations"
### Development Issue

Yes

### Phone Version

latest

### Issue Description

i'm gonna try and give u all the missing translations that remains
might just be french translation missing stuff btw

### Issue Reproduction

idk open the phone i guess

### Evidence

Messages:
![image](https://user-images.githubusercontent.com/97451137/189984502-b3f09baa-6839-4b99-a15b-be437e392420.png)
Camera:
![image

[2022-09-14 11:41] itschip commented on #864
Will look into this when rewriting notifications.

[2022-09-14 15:58] TonybynMp4 commented on #869
cauz they're not keys 🤔

[2022-09-15 04:12] minipunch commented on #864
Can confirm, just installed the latest version and also noticed this issue

[2022-09-15 04:13] minipunch commented on #864
Also it appears there are no unread message notifications when viewing conversations either

[2022-09-15 04:13] minipunch commented on #861
Can confirm

[2022-09-17 11:58] itschip commented on #869
@TonybynMp4 You can create keys, then create translations for it :)

[2022-09-17 11:59] itschip commented on #861
@minipunch @123B3n being fixed while refactoring notifications

[2022-09-17 12:06] TonybynMp4 commented on #869
That sounds like a case of i'd broke everything lol

[2022-09-17 16:09] SPKReality opened #874 "Enhancement: <Add a loud speaker option to phone calls>"
### Application

Other

### Dependency

Yes

### Feature Description

Im not sure if it would need the dependency pma voice or any other scripts like that but my suggestion is a button that is shown when calling someone that you can click to make the phone go into loud speaker so people around you can hear the person on the other end of the phone call and if you click it again the phone goes back

[2022-09-19 18:33] LySoon opened #875 "QBCore - MultiChar phone number duplication"
### Development Issue

No

### Phone Version

[1.6.1](https://github.com/project-error/npwd/releases/tag/1.6.1)

### Issue Description

![image](https://user-images.githubusercontent.com/49767982/191089348-1a18fd28-3a53-4b84-b78b-f22c902cdff3.png)

So problem is, im using npwd on a QBCore server with QB-NPWD resource along, and phone is generating same phone number for all multicharacters created

[2022-09-19 18:39] Mojito-Fivem commented on #875
Please refer to the QB section of our docs

[2022-09-19 18:39] #875 closed

[2022-09-20 18:40] CptNoHand opened #876 "Enhancement: Calling someone without showing your number"
### Application

Settings

### Dependency

No

### Feature Description

It would be great if you would be able to call people without showing your number like you can irl.

### References

_No response_

[2022-09-21 19:03] ItzTrivial opened #877 "emitMessage not tracked with onMessage"
### Development Issue

Unsure

### Phone Version

1.6.0

### Issue Description

When emitting a message with emitMessage export its not tracked with onMessage.

### Issue Reproduction

- emitting a message
- trying to print something with onMessage
- wont print stuff

### Evidence

_No response_

[2022-09-22 09:44] teidova21 commented on #856
so you mean a counter in twitter profile page to see total rt and likes of your messages ?

[2022-09-22 09:54] itschip commented on #856
@teidova21 No, on the like button. Show the amount of likes.

[2022-09-22 14:22] teidova21 commented on #818
How about just having a progressive loading, only loading a few images at a time and only the visible ones.
It should go easier on the cpu that way ?

[2022-09-22 14:33] teidova21 opened #878 "Enhancement: Cuter Twitter"
### Application

Twitter

### Dependency

No

### Feature Description

- profile pages with the tweets that person retweeted or wrote

This could allow for future other features like :
- allow for twitter pms
- adding ability to follow someone
- adding private accounts
- adding three feeds instead of one:
   - 'my feed' with only your tweets, rt of your tweets, comments to your tweets/comments and

[2022-09-22 17:29] TonybynMp4 commented on #856
![image](https://user-images.githubusercontent.com/97451137/191813053-de99e122-6586-4e28-a9af-c156d0cf3b94.png)
@itschip work plz

[2022-09-22 21:41] TonybynMp4 commented on #869
added one lol

[2022-09-23 15:21] itschip opened #879 "Enhancement: Introduce DI design pattern to server side scripts"
### Application

Other

### Dependency

Yes

### Feature Description

Introduce a DI container library such a `typedi` or `tsyringe`. Today we're doing a workaround with initializing the class, then exporting it.

### References

_No response_

[2022-09-23 15:27] Mojito-Fivem commented on #879
No

[2022-09-24 19:33] alfiswielki opened #880 "Bug: External garage app not loading"
### Development Issue

Yes

### Phone Version

new

### Issue Description

hello I upload everything the phone works, I try to add a garage and this is where the problems start....
I add the garage app to config.json and yet it is not on the phone and under f8 I have this, I will add a picture

How to do it? I am using the new qbcore
![telefon1](https://user-images.githubusercontent.com/111529419/

[2022-09-24 19:35] itschip commented on #880
@alfiswielki You most likely did not download the compiled release files, meaning you have the source code. I can't think of anything else.

[2022-09-24 19:43] alfiswielki commented on #880
well and can you show me the pattern (code) for adding the application? How should it look like when I upload garage,crypto,emial etc?

[2022-09-24 19:44] itschip commented on #880
You've added the app correctly in the config.json, but you need this zip file with compiled files if you don't want to build it yourself.

https://github.com/npwd-community/npwd_qb_garage/releases/download/1.0.6/npwd_qb_garage.zip

[2022-09-24 19:47] alfiswielki commented on #880
good cum.... my mistake thanks for your help ahh this saturday :D

[2022-09-24 19:50] alfiswielki commented on #880
![ehh](https://user-images.githubusercontent.com/111529419/192115964-d64758b0-0cec-429a-86bc-26d0aa04a9a2.png)
![ehh](https://user-images.githubusercontent.com/111529419/192115999-514c5d32-ff61-4db2-87cf-39df52c28dc2.png)
why do I now see garage and not crypto?

[2022-09-24 19:52] Oldarorn commented on #880
Cause you have to write "apps": ["npwd_crypto", npwd_gb_garage"] ...

[2022-09-24 19:54] alfiswielki commented on #880
I could not find any information about this....

[2022-09-24 19:57] alfiswielki commented on #880
but I still have one or the other, no two at the same time

[2022-09-24 19:57] alfiswielki commented on #880
but I still have one or the other, no two at the same time

[2022-09-24 19:58] alfiswielki commented on #880
![err](https://user-images.githubusercontent.com/111529419/192116237-4fe03504-e10b-41d1-826a-d107c3a033d4.png)

[2022-09-24 19:58] itschip commented on #880
Yeah, that's correct.

[2022-09-24 19:59] alfiswielki commented on #880
![err](https://user-images.githubusercontent.com/111529419/192116273-3845517e-9570-481b-98ba-3102e16ee47c.png)
to why do I have crypto and the garage does not? xD

[2022-09-24 20:00] itschip commented on #880
Does both apps start before npwd?

[2022-09-24 20:01] alfiswielki commented on #880
![err](https://user-images.githubusercontent.com/111529419/192116358-f2e3cc20-fb7a-4bde-b890-2ad80fd88710.png)
yes both are in standalone

[2022-09-24 20:02] alfiswielki commented on #880
the ones that type first, the ones that work

[2022-09-24 20:19] alfiswielki commented on #880
`ensure qb-core
ensure [qb]
ensure qb-npwd
ensure [standalone] <<here have garage and crypto and see only one
ensure [voice]
ensure [defaultmaps]
ensure [skrypty]
ensure fivem-scenarios
ensure zdiscord
ensure npwd`

[2022-09-24 20:19] alfiswielki commented on #880
ensure qb-core
ensure [qb]
ensure qb-npwd
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure [skrypty]
ensure fivem-scenarios
ensure zdiscord
ensure npwd

[2022-09-24 20:20] alfiswielki commented on #880
ensure qb-core
ensure [qb]
ensure qb-npwd
ensure [standalone] < here have garage and crypto and see ony one
ensure [voice]
ensure [defaultmaps]
ensure [skrypty]
ensure fivem-scenarios
ensure zdiscord
ensure npwd

[2022-09-25 00:07] IndigoBerry opened #881 "I keep getting an error saying "Failed to store phone number in database""
### Development Issue

Unsure

### Phone Version

1.6.1

### Issue Description

I dont know what i did wrong but when somebody joins my server it says this in the console:
[         script:npwd] [NPWD] [player] [error]: Failed to store phone number in database
[         script:npwd] [NPWD] [player] [error]: UPDATE users SET phone_number = 675-743-9363 WHERE identifier = eef92ab7dcef11325680163d065

[2022-09-28 10:57] Visloczki commented on #881
Hi!

Use database prefix. Example :

  "database": {
    "useIdentifierPrefix": true,
    "playerTable": "users",
    "identifierColumn": "identifier",
    "identifierType": "char1",
    "profileQueries": true,
    "phoneNumberColumn": "phone_number"
  },

and dont forget alter your users phone_number field to varchar(20)

Regards. Adam

[2022-10-03 09:53] NewEditOfficial opened #883 "Enhancement: API extension for call middleware"
### Application

Other

### Dependency

No

### Feature Description

**Description of enhancement / feature**

- Add options to acceptCall [OnCallExportCtx.forward]
- This will allow to utilize own logic arround cfx.forward and set specific type of acceptingCall (by enforcing call or based on player input, which will be handled by own logic)
- In current state the issues is that there is no way to

[2022-10-04 03:25] mikigoalie opened #884 "Bug: Default case (prop) not visible"
### Development Issue

No

### Phone Version

Any

### Issue Description

The default phone case using NPWD props does not exist thus has no prop == invisible in player's hand.

Potential fix (assuming author cannot make another prop anymore) would be to add MINIMA case as DEFAULT.

### Issue Reproduction

Open phone? ig

### Evidence

_No response_

[2022-10-05 06:31] Itzyaboizordan2 commented on #881
im also getting a error for this but i did what u said and nothing still gives a error or phone doesnt work at all

[2022-10-06 00:28] mypassispasswordlol opened #887 "Bug: i cant see the screen"
### Development Issue

Unsure

### Phone Version

1.6.1

### Issue Description

when I press f1 I don't see a phone on my screen my character is holding one but I don't see the screen

### Issue Reproduction

i dont know how to reproduce it

### Evidence

![Screenshot (133)](https://user-images.githubusercontent.com/89176406/194187331-2de3301d-d29b-4ed3-bc9a-19b1bfe38037.png)

[2022-10-06 15:37] Texdk opened #888 "SyntaxError: Unexpected token"
### Development Issue

No

### Phone Version

1.6.0

### Issue Description

![image](https://user-images.githubusercontent.com/109815352/194356616-91bdd2f5-754f-4465-806a-7ffc6a429e8b.png)

### Issue Reproduction

i have no idea how its happend

### Evidence

![image](https://user-images.githubusercontent.com/109815352/194356829-5783a438-883d-48a8-992d-c3d54163b552.png)

[2022-10-06 15:47] Texdk commented on #888
update it happends when i add apps

[2022-10-06 15:54] Texdk commented on #888
![image](https://user-images.githubusercontent.com/109815352/194360760-a9db379b-8757-49ba-9fbf-04c47e0bcf32.png)

[2022-10-06 15:57] itschip commented on #888
@Texdk You have downloaded the source code. Either build the phone or download the bundled release files.

[2022-10-06 16:03] Texdk commented on #888
@itschip do you have a link?

[2022-10-06 16:24] #888 closed, assigned to nobody

[2022-10-08 19:27] xchopin opened #892 "Bug: Twitter likes stuck on 0"
### Development Issue

No

### Phone Version

1.7.0

### Issue Description

Tweet doesn't update the like counter (on the UI) however the database gets the update.

Also if you like the tweet then close the phone and open it back the heart icon doesn't get filled anymore it's like if you didn't like it

### Issue Reproduction

Like a tweet.

### Evidence

<img width="202" alt="image" src="https://

[2022-10-08 20:00] CptNoHand commented on #892
Same

[2022-10-08 20:02] CptNoHand opened #893 "Bug: No notifications for messages"
### Development Issue

Unsure

### Phone Version

1.7.0

### Issue Description

On my server we get no notification when we receive messages.

### Issue Reproduction

Open Phone
Send Message
Receive Message
No notification

### Evidence

_No response_

[2022-10-08 21:00] NewEditOfficial opened #894 "Bug: <exports.npwd:setPhoneVisible(false)> [ inActiveCall ]"
### Development Issue

Unsure

### Phone Version

Latest - 1.7.0

### Issue Description

### Bug description

- After call is initialized, hiding phone via [exports.npwd:setPhoneVisible(true)] on CLIENT [A] (boothUser) - should work, but nope.
- Phone should hide, when func is called, bypassing (Related logic picture via HasPhone), to ensure that call will not be rejected, even phoneUI is "hidden"

[2022-10-09 03:11] Visloczki commented on #881
You updated phone_number field type to varchar20 ?

[2022-10-09 07:50] Texdk opened #895 "Phone numbers"
is it possible to change the settings so the phone generates eu numbers?

examble +45 ########

[2022-10-09 11:37] ChickenDipper1 commented on #884
https://github.com/npwd-community/npwd_props/issues/2

[2022-10-09 11:37] itschip commented on #884
Ah, yeah....there is no defualt frame.....right

[2022-10-09 11:39] ChickenDipper1 commented on #884
Confusingly there is a default.png inside npwd/resources/html/media/frames :P

[2022-10-09 11:41] itschip commented on #884
Yeah, but there is no prop. I am working on a fix now :P

[2022-10-09 12:44] Mojito-Fivem commented on #895
You can edit the function here to change the number generating behavior, this isn't something we can easily make configureable

https://github.com/project-error/npwd/blob/2166e03f92385c7fb21d70f6514c05bb2f680ed5/resources/server/misc/generateUniquePhoneNumber.ts#L27-L36

Perhaps we can allow the user to pass their own number generating function as an export, similar to the way we check for item pr

[2022-10-09 12:48] Mojito-Fivem commented on #894
What? You just want it to hang up if you hide the phone?

[2022-10-09 15:41] Mojito-Fivem commented on #895
Experimental support for this has been added to [develop ](https://github.com/project-error/npwd/tree/develop) branch allowing you to define your own number generation logic. You will need to make your own export which returns either `string` or `Promise<string>` and add it to your config the same way as PhoneAsItem

[2022-10-09 16:54] NewEditOfficial commented on #894
I want to able hide phoneUI, when perform exports.npwd:setPhoneVisible(false) - which looks like that doesnt work, when call is active.

[2022-10-09 16:55] Mojito-Fivem commented on #894
And what usecase does this have for npwd other than for your own script?

[2022-10-09 19:24] NewEditOfficial commented on #894
I mean if the API is offered with function setPhoneVisible(false), then it should work? 🤔

[2022-10-09 23:11] MM1212 opened #896 "Bug: External apps get reloaded everytime u go to the home route"
### Development Issue

Unsure

### Phone Version

Latest - 1.7,0

### Issue Description

External apps get reloaded everytime u go to the home route.
You can clearly see this because recoil gets angry that we're creating duplicated atoms.

### Issue Reproduction

1. Setup an external app (I tried [advertisements](https://github.com/npwd-community/npwd_advertisements))
2. Open any other app (doesn'

[2022-10-11 20:07] NewEditOfficial commented on #894
Or just simple export which will allow to pass boolean value and its resolved. @Mojito-Fivem

👍

![image](https://user-images.githubusercontent.com/19749031/195187481-2b34f99f-c6ab-4060-8c1e-92f3ea7523be.png)

[2022-10-12 22:21] xSpiderMC opened #900 "Enhancement: Multicharacter support for settings"
### Application

Settings

### Dependency

No

### Feature Description

Instead of using the same settings every time you log in, allow support for different characters to have different settings like background and case.

### References

_No response_

[2022-10-12 23:30] Cyril-Beeckman opened #901 "Bug: Fast unload / newPlayer"
### Development Issue

Yes

### Phone Version

v1.7.0

### Issue Description

When you want to switch number with a sim card script for example, you need to unload player before recreate him

In this laps of time, if you call to player to execute `phone` command directly after creating player, the ped bring the phone up but NUI dont show phone

### Issue Reproduction

## Server Side
- Unload playe

[2022-10-13 08:25] mahanmoulaei commented on #880
you need to replace "npwd_gb_garage" with "npwd_qb_garage"

[2022-10-13 08:27] Mojito-Fivem commented on #901
This wasn't the intended usecase for unloadPlayer, hence the name unloadPlayer and not simcardScript, so you're best off disabling access to the phone during the process of simulating a sim card

[2022-10-13 11:36] Cyril-Beeckman commented on #901
I change number with inventory, when user use simcard, after using the simcard i want to show the phone, but actually i dont have any callback or a export to check if phone is fully usable

Maybe i make it in wrong way ? Is there something to change data based on number without to unload / create player ?

[2022-10-13 18:07] cmgjones commented on #900
Would love to see this , Even if for qbcore it runs of the citizen id instead of the identifier . My guys on PD dont want the same twitter accounts and stuff on their crim char

[2022-10-16 00:11] 0NATI0 opened #902 "BUg"
### Development Issue

No

### Phone Version

Latest

### Issue Description

So if you want to start an npwd phone you need to fill this :

  "database": {
    "useIdentifierPrefix": false,
    "playerTable": "users",
    "identifierColumn": "identifier",
    "identifierType": "license",
    "profileQueries": true,
    "phoneNumberColumn": "phone_number"

    But there is a problem beacouse if you

[2022-10-16 00:30] thelindat commented on #902
It’s characters and charid; but ox core already sets the config for you; start bows after it.

[2022-10-16 10:56] Blacky5613 commented on #881
I have the exact same mistake and did it almost exactly as they wrote it down.

![Screenshot_2](https://user-images.githubusercontent.com/114885046/196031401-1e4ec552-61f3-4767-b701-afce81d5a405.png)

![Screenshot_1](https://user-images.githubusercontent.com/114885046/196031407-78c3051c-bcd4-440e-95df-f37b9b68b6ea.png)
![Screenshot_3](https://user-images.githubusercontent.com/114885046/196031424-9

[2022-10-19 18:58] SoberaEBot opened #904 "Bug: [NPWD] [error]: SQL Connection Pool Error: Invalid URL"
### Development Issue

Unsure

### Phone Version

1.7.1

### Issue Description

Live Console error when starting the script

### Issue Reproduction

When starting the script
![image](https://user-images.githubusercontent.com/72047788/196779991-425e3c0c-6cf5-4dd2-9690-50cf35192ca0.png)
![image](https://user-images.githubusercontent.com/72047788/196779963-6b534410-c851-4984-9d60-1fe38e4ed8bf.png)

#

[2022-10-20 16:31] #902 closed

[2022-10-20 16:32] itschip commented on #892
Should be fixed in latest master. Clone/download to test.

[2022-10-20 16:32] #892 closed

[2022-10-20 16:36] itschip commented on #884
This is fixed in latest master. Closing this for now. Will be available in next release.

[2022-10-20 16:37] itschip commented on #878
I've had similar ideas, but not sure if I will prioritize this at all. Feel free to pick this up and create such a feature. I support this.

[2022-10-20 16:37] #757 closed

[2022-10-20 16:39] #840 closed

[2022-10-21 14:21] #860 closed

[2022-10-22 07:28] #880 closed

[2022-10-22 07:28] itschip commented on #880
Please use the correct repository for these issues.

[2022-10-22 07:30] itschip commented on #879
Won't do as adding additional complexity would probably make further contribution harder, and the amount of work this requires shouldn't be prioritized now.

[2022-10-22 07:30] #879 closed

[2022-10-22 19:38] TonybynMp4 opened #906 "Bug: keeopen notifs"
### Development Issue

Yes

### Phone Version

latest master branch

### Issue Description

If you have a notification open (with keepopen = true) and you receive a normal notification, it will remove both after the time passes (instead of just the second one) and will make the phone bug and stay half-open (cf. evidence)

Same bug happens if you have two keepopen notifications and you click on one

[2022-10-22 20:20] TonybynMp4 commented on #856
sacrebleu! @itschip u forgot to close the damn issue with the release! smh i'll do it myself then..

[2022-10-22 20:20] #856 closed

[2022-10-22 20:36] TonybynMp4 opened #907 "Bug: image zoom is fucked (🔫 always has been)"
### Development Issue

Yes

### Phone Version

latest master branch

### Issue Description

The image zoom is fucked and never really puts images at the same (nor the right) place on the screen, often making a part of the image (or possibly all of it i guess?) go off screen wich well.. sucks

ALSO
when scrolling on the phone without closing the zoomed image(s), the image(s) are scrolling too

###

[2022-10-24 00:36] Cyril-Beeckman commented on #893
Sometimes i got notifications, sometimes not...
Very difficult to provide a repro

[2022-10-24 13:19] #904 closed

[2022-10-26 12:50] #807 closed

[2022-10-26 17:19] AceyV opened #910 "Bug: Error in DB"
### Development Issue

Unsure

### Phone Version

1.7.0

### Issue Description

I always get an error

### Issue Reproduction

None. its just there, i have done no settings!

### Evidence

When i start the server i got this error:

[         script:npwd] [NPWD] [DBInterface] [error]: Error executing (SELECT npwd_messages_conversations.id,
[         script:npwd]                           npwd_messa

[2022-10-26 17:24] Mojito-Fivem commented on #910
Your schema is outdated

[2022-10-26 17:24] #910 closed

[2022-10-27 03:00] TonybynMp4 commented on #907
fixed in latest commits

[2022-10-27 03:00] #907 closed

[2022-10-28 16:32] #809 closed

[2022-10-29 02:15] jcthiel13 commented on #900
This is already a feature with qb-npwd/esx-npwd. Set your identifier to citizenid and point it to the right column in the database. In case of other frameworks check the original author to see if they have pushed a compatibility script. In the case they haven't you can always make your own. It was actually fairly simple to do for my community's framework and ended up getting released by the author

[2022-10-31 17:39] cmgjones commented on #900
@jcthiel13 Any chance you could help out ? , Everyone has the same phone number for all their characters  discord :  Ca11um#8510

[2022-11-06 01:45] digbygaming1 opened #915 "Bug Server not starting"
### Development Issue

Unsure

### Phone Version

When i try to start the script it prompts me with this " script:yarn] Error: [yarn] error jest-worker@28.1.3: The engine "node" is incompatible with this module. Expected version "2.13.0 || 4.15.0 || 6.10.0 || >=17.0.0". Got "16.9.1" "

### Issue Description

When i try to start the script it prompts me with this " script:yarn] Error: [yarn] error

[2022-11-06 02:27] mikigoalie commented on #915
create .yarn.installed in root npwd

[2022-11-06 02:54] digbygaming1 commented on #915
now i am getting this error
https://gyazo.com/4851130f7913b3a5d09959070e957fc4

[2022-11-06 04:37] digbygaming1 commented on #915
I fixed it

[2022-11-06 04:37] #915 closed

[2022-11-07 00:06] TonybynMp4 commented on #583
bad bot it already implemented

[2022-11-07 06:22] minipunch commented on #893
Can confirm this used to happen with an older version when we tried this phone

[2022-11-07 15:31] anes66 commented on #893
version '1.7.1'  no message notification when you get a new msg from a number

[2022-11-07 15:32] duckysuck opened #916 "Bug: Fatal application error"
### Development Issue

Unsure

### Phone Version

1.71

### Issue Description

When opening PEFCL or crypto apps three errors appear
Fatal application error
The application has encountered an error it was unable to recover for

At the bottom in red | Cannot read properties of undefined (reading 'location')

### Issue Reproduction

Upgrade to latest version and install PEFCL or crypto.
open either

[2022-11-07 17:55] itschip commented on #583
@TonybynMp4 does it work fine?

[2022-11-07 20:12] TonybynMp4 commented on #583
afaik it work yes

[2022-11-08 00:07] digbygaming1 opened #917 "Cant change keybind"
### Development Issue

Unsure

### Phone Version

newest

### Issue Description

Cant change the keybind If i change it the phone just will not open

### Issue Reproduction

na

### Evidence

there not error log

[2022-11-08 01:03] Gameadictive opened #918 "[MATCH] Bug: It doesn't happen to everyone just some"
### Development Issue

Yes

### Phone Version

1.7.1

### Issue Description

![matchtinder](https://user-images.githubusercontent.com/65845786/200448403-8c04f185-b18a-47be-8a99-b76e474dba57.PNG)

### Issue Reproduction

I dont know

### Evidence

Some try to open the MATCH app but get that error and some don't.

[2022-11-08 02:41] xsoskiller opened #919 "Bug: Error at ressource start."
### Development Issue

Unsure

### Phone Version

1.7.1

### Issue Description

i got many error code while i start the ressource and while using it.

### Issue Reproduction

/start nwpd

that all it happpen at the script start.

### Evidence

![image](https://user-images.githubusercontent.com/66858021/200461718-2f9bec06-141b-41f6-8037-dbff9cb0bfa3.png)
![image](https://user-images.githubuserconte

[2022-11-08 02:44] xsoskiller commented on #919
i'm using Ox_inventory 2.15.1, pma-voice and ESX 1.2 v1.7.5

[2022-11-08 02:46] xsoskiller commented on #919
edit: i also got that error
[code]

[2022-11-12 02:56] duckysuck commented on #916
If you need more info or testing let me know. Happy to help.

[2022-11-12 16:10] itschip commented on #916
I'll try to reproduce this the coming week.

[2022-11-12 21:08] georgino-ccrp commented on #916
hello, i have this issue but i cant solve it.. i have it on pefcl / crypto /services

[2022-11-12 22:55] duckysuck commented on #916
yes thats what I've said in description. Give Chip a chance to look at it. Quite a few others have the bug.

[2022-11-13 00:02] minipunch commented on #476
Should prob remove the warning from the docs warning about this now closed issue fyi

[2022-11-13 08:43] georgino-ccrp commented on #916
yea... chip the man who will save us :D

[2022-11-13 10:57] JarieTimmer commented on #916
I am having the same problem here, im using the latest releases for everything (pefcl, esx, nwpd).

[2022-11-13 13:55] QuantiumShade opened #921 "Enhancement: App to play music from YouTube"
### Application

Other

### Dependency

Yes

### Feature Description

Hi.
Could be nice to be able to play sound/music from YouTube on your smartphone.

I think this feature shouldn't take long to do if you know what you're doing.
If I find time, I might do it by myself and do a pull request.  In the meanwhile I'm sharing the idea, In case someone wants to do it before me :)

### References

Libra

[2022-11-13 14:41] #921 closed

[2022-11-13 14:43] Mojito-Fivem commented on #921
This has been in our won't do list for a very long time and won't be changing any time soon

[2022-11-13 22:55] QuantiumShade commented on #921
Alright ! I've just found the "won't do list" . My bad

[2022-11-14 18:07] Br4inFish commented on #900
Is there a way you could helpt out mate, I've tried everything can't get this to work..

[2022-11-14 18:08] Br4inFish commented on #881
Hey mate, I've followed your guide, I can't get this to work, Still get this error after the fix you provided.
Do you mind sharing some more help for this ?

[2022-11-14 21:27] #804 closed

[2022-11-15 19:11] georgino-ccrp opened #924 "Photo"
### Development Issue

Unsure

### Phone Version

1.7.1

### Issue Description

I have problem with taking pictures, it does some weird problem in the console

### Issue Reproduction

npwd - photos

### Evidence

![image](https://user-images.githubusercontent.com/80386366/202005127-14823730-8cf6-44b9-86c7-ff86f94fe24f.png)

[2022-11-16 01:28] jcthiel13 commented on #900
@Br4inFish I have a lot of projects I'm working on right now, send me a dm with the framework name and I'll see what I can do.

xXxTHE LAWxXx97#5924

[2022-11-17 02:26] #825 closed

[2022-11-17 20:17] Br4inFish commented on #917
Same here mate, Doesn't work.

[2022-11-17 20:22] Br4inFish commented on #900
Thank you for the reply mate, I managed to get it working.
Once again, Thank you for taking your time to reply back.

[2022-11-17 20:22] Br4inFish commented on #900
Thank you for the reply @jcthiel13 , I managed to get it working.
Once again, Thank you for taking your time to reply back.

[2022-11-17 20:25] Br4inFish commented on #919
Hey!

Don't start npwd in game.

Make sure the phone starts after Screenshotbasic->PMA->esx/qb-npwd then NPWD in the server.cfg.
Check the doc, since you are starting the phone in game with probably /start npwd.
Please read the docs again, since I think you miss understod the server.cfg part.

[2022-11-17 20:33] Mojito-Fivem commented on #917
Not an issue

[2022-11-17 20:33] #917 closed

[2022-11-18 15:11] xsoskiller commented on #919
Pma and screenshot-basic start from the same ensured folder and i manually started it from the /start command. I can try tho to unensure thefolder and manually start pma-screenshot-basic from the config.

Ill keep updated if it worked.

[2022-11-18 22:04] TonybynMp4 commented on #838
sadge

[2022-11-18 22:06] itschip commented on #838
Will pick it up again later.

[2022-11-18 22:35] TonybynMp4 commented on #838
ILY chip

[2022-11-19 02:01] itschip opened #926 "[v2] Create ThemeProvider for apps"
We need to create a new theme provider now that we are switching to tailwindcss.

No specific specs yet.

[2022-11-19 02:02] itschip opened #927 "[v2] New UI design for NPWD. Any ideas and proposals are wanted."
With NPWD 2.0, we're moving away from MUI, and therefore a new design is needed. If you have any ideas, please share them here.

[2022-11-19 02:02] itschip opened #928 "[v2] Server-side architecture"
I am not a fan of the current server-side impl with "fake" singletons. We should either just introduce proper DI, or find another pattern.

## ORM
We should also discuss we want to introduce an ORM like TypeORM etc. Would it make it harder/easier for the average user?

[2022-11-19 02:02] itschip opened #929 "[v2] Design system"
Would like to see a fully featured design system as we progress into 2.0. Could be used for external apps as well.

Should discuss this simultaneously with #927

[2022-11-19 02:56] Archangelza1 commented on #928
In regards to development side i feel that NPWD 2.0 should not worry about the average user and more care about external developer contribution as I feel majority of servers install NPWD as the release package and use npwd community apps to cater for the rest where with more developer/"custom" focused server owners will want to customise the phone to best fit the servers needs and wants.

[2022-11-19 06:37] dolutattoo commented on #927
ios?

[2022-11-19 13:14] itschip commented on #927
I would rather like to see us design something new. Open to take inspiration from current designs from Apple, but I don't want to go down the iOS 100% route.

[2022-11-19 14:38] Mojito-Fivem commented on #927
I'm totally against taking any "inspiration" from apple shitware. Fivem is full of "inspired" aka plagiarised designs, we should come up with a unique design

[2022-11-19 16:27] Moozdzn commented on #928
To make it easier for the average user would be to switch to lua.

[2022-11-19 16:37] TonybynMp4 commented on #927
Ios sucks anyway.

[2022-11-20 15:00] georgino-ccrp commented on #916
so, how does it look ? :D

[2022-11-20 15:03] itschip commented on #916
For now, I would just use 1.7.0 until it is fixed.

[2022-11-21 16:11] #827 closed

[2022-11-22 03:48] #493 closed

[2022-11-25 10:26] #833 closed

[2022-11-25 18:26] #713 closed

[2022-11-25 20:26] #761 closed

[2022-11-25 20:26] #808 closed

[2022-11-27 12:14] #843 closed

[2022-11-29 06:01] #848 closed

[2022-11-30 09:22] justshoveit commented on #927
Foldable phone design with 2 states; folded and unfolded where unfolded state maybe covers more area of the screen?
This way the phone would be able to act as replacement for multiple laptop resources